[2021-08-17 15:21] Pmccasky commented on #1193
@eyalyoli @ZeroJian @BayCo I submitted a feature proposal here: https://github.com/akveo/react-native-ui-kitten/issues/1503

If you are still in need of this, please visit this proposal.

[2021-08-17 15:22] brittney7cfe commented on #1503
This is critical!

[2021-08-17 15:27] erinmoirgingr commented on #1503
I would consider this an expected feature of any calendar/date selector component. Please consider adding it.

[2021-08-17 20:35] sschottler commented on #1422
Could be - we are on `react-native-web@0.13.7`. You could try downgrading to that version in the fresh repo you setup and see if the patch works. I don't think the react or react-dom versions would matter as much, but we're on `16.14.0`

[2021-08-18 12:33] Zenbax opened #1504 "Modal "animationType""
## 🚀 Feature Proposal

The normal react-native "Modal" component has an "animationType" feature, that lets you set an animation for the modal transition, but I've noticed that UI-Kitten doesn't support the feature. I personally would love to see it be added, and if think many others would too :)

## Motivation

This animation feature will allow making more smooth modal transitions, and therefore g

[2021-08-20 10:13] ianmartorell commented on #1071
@artyorsh could you comment on this? Thanks

[2021-08-22 12:51] kvicera opened #1505 "App Crashes when an Icon is used inside ListView Item"
## 💬 Question
Is it not possible to use Icon inside a ListView Item? I have tried and it causes my app to crash without outputting errors.
I have tried using fontawesome and it works as intended.

I have set it up here: https://snack.expo.dev/@vfvicera220/playground
And it also crashes the app if Line 99 is not commented out, regardless how or where the code is defined.

Am I missing something her

[2021-08-24 19:42] productStef commented on #1299
Hey @adscud, just curious if you were able to create your desired style using the guide?

Was hoping to go the absolute positioning route (see below) but not working as expected
`<Tab
            title={title}
          />
          <Bar
            style={{
              position: "absolute",
              bottom: -7,
              left: 0,
              right: 0,
              height: 5,

[2021-08-24 21:05] productStef commented on #1299
@adscud NVM, found a solution tweaking not just the Tab component but the TabBar as well. Happy to share if you never got around to doing it.

Thanks @artyorsh for the guide.

[2021-08-25 07:07] adscud commented on #1299
Thanks @productStef but I'm out of this library now ! :)

[2021-08-25 18:02] Codelica opened #1506 "Button text seems inconsistent between iOS and Android (OpenSans is configured)"
## 💬 Question

My Expo/RN app is setup to user OpenSans per instructions and after adding font-family info to my mapping file (for all text styles) everything is very consistent across iOS and Android -- **except for Button text**.

As mentioned, I do have OpenSans installed, loaded during startup, and configured with the following mapping:

[code]

However when doing  a simple `<Button>Text</Butt

[2021-08-26 10:09] greenafrican opened #1507 "Disabled ghost button isn't... ghosted"
## 🐛 Bug Report

When disabled, a `<Button appearance="ghost" disabled={true}>Submit</Button>` doesn't appear as expected.

## To Reproduce

Steps to reproduce the behavior:
- `<Button appearance="ghost" disabled={true}>Submit</Button>`

## Expected behavior

It is not clear anywhere how to override this and I would expect the button to show adjust grey text without a background or border.

## Lin

[2021-08-26 17:50] amrshadid opened #1508 "calendar render customDay"
## 💬 Question
![240787550_895966554352240_3645259475881001939_n](https://user-images.githubusercontent.com/32217515/131010022-5afbc8a7-eed4-402f-b68d-143a1d3d9ec1.jpg)

I try to do custom render day(with icon of day that have event) like below

![239480685_1551847248491920_1580950873636060751_n](https://user-images.githubusercontent.com/32217515/131010505-55fcc08e-476f-4b02-93a2-31a3fa35fdeb.jpg)

[2021-09-01 08:26] Thorbenl opened #1509 "[Android Only] ModalService does not close modal on navigating back with android"
## 🐛 Bug Report

### Android only!!!

Once you open the modal and use the `Back button` on an Android phone, it will navigate back, but the modal wont properly close. See the attached gif. :)
![modaldialog_bug](https://user-images.githubusercontent.com/37654145/131637261-e421b832-e9d6-4e15-be53-eeb567cbe9cc.gif)

## Steps to reproduce the behavior in code:
package.json - shortened
[code]

### Scre

[2021-09-01 23:10] icgarlin opened #1510 "Using Eva Icons and despite it being able to render in a Menu Item's accessoryLeft, they do not display anywhere else. And yes I can see them in the devtools"
## 💬 Question

const ForwardIcon: FunctionComponent = (props: any): React.ReactElement => (
  <Icon
     style={styles.icon}
     name='arrow-ios-forward-outline'
     {...props} />
)

const Recents: FunctionComponent<RecentsProps> = (props) => {
    return (
        <View style={styles.container}>
         <Text style={styles.title} category='h4'>Recent</Text>
          <Layout
            style=

[2021-09-02 06:04] PrateekGoyal18 commented on #1062
I have given a `styles.pcicker` class to `DatePicker` like this:
[code]
In my case, the datepicker modal is kinda overflowing out the screen, it there anyway to stop this?

[2021-09-02 15:41] vtabunov commented on #1161
you forgot the semicolon after 'red', but the answer is right! thank you! the right variant will be:

title={props => <Text {...props} style={[props.style, { color: 'red' }]}>TITLE</Text>}

[2021-09-03 06:26] longseespace commented on #1490
We weren't able to match the `TextInput` even in 5.1.0 (using the native XCTest API, not Detox though). The only way is to set `accessible={false}` for the outer `TouchableWithoutFeedback`

[2021-09-03 17:54] adambaaron commented on #1192
Thank you so much dude!! that link to mapping.json was exactly what I needed!! Wish you the best bro

[2021-09-04 17:59] VictorACH commented on #1438
Hi! **The error still persists.**

I'm using the next command:

[code]
And the errors:

[code]

[2021-09-04 18:07] VictorACH opened #1511 "Could not resolve dependency: peer react-native-svg@"^9.4.0" from react-native-eva-icons@1.3.1"
Hi!

I'm trying to install UI Kitten using the typescript template but it doesn't work:

[code]
And the errors:
[code]

[2021-09-05 07:44] vkumaez opened #1512 "BottomNavigation indicator width not working"
## 🐛 Bug Report

The indicatorStyle supplied to BottomNavigation component is not properly working.

As I passed width to indicatorStyle, it's not changing the width of indicator no matter the value is a number or a percentage. Other style properties are working fine (height, backgroundColor, borderRadius, etc.).

## To Reproduce

Steps to reproduce the behavior:

<BottomNavigation
            ind

[2021-09-05 08:34] eyalyoli commented on #981
You could just give it a custom component returning `Text`:
[code]

[2021-09-07 14:59] ajstokar opened #1513 "The Tooltip component doesn't display when rendered within a react-native Modal"
## 🐛 Bug Report

The Tooltip component doesn't display when rendered within a react-native Modal

## To Reproduce

Steps to reproduce the behavior:

Add Tooltip within react-native Modal

## Expected behavior

The tooltip should display as it does otherwise when used outside of a react-native Modal.

## Link to runnable example or repository (highly encouraged)

N/A

## UI Kitten and Eva version

[2021-09-08 20:09] asidapara opened #1514 "card footer not displaying"
Hi there,

I am using the card component on an react native expo deployment of UiKitten, and for some reason, the footer is not displaying in the card. I am not sure if it is because of the way I have hard-coded the height of the card or something else. I am following the demo to include a card and both a header and footer:

Footer code: `const Footer = (props) => (
  <View {...props} style={[styl

[2021-09-09 01:16] icgarlin commented on #1220
Upgrading to Node v14 does not work for me

[2021-09-10 08:19] MaximilianDietel03 commented on #1329
I tried this out and it doesnt seem to work as the position of all top, bottom,right and left is in the center of the screen

[2021-09-10 19:54] SuhilMohammad-rogers commented on #1329
it worked fine for me:

<Modal
      style={{
        width: '100%',
        position: 'absolute',
        top: 0.1,
      }}
      visible={isShown}
      backdropStyle={styles.backdrop}
      onBackdropPress={onCloseIconPress}>
{'...your child items'}
</Modal>

[2021-09-12 16:38] phoenixbeats01 commented on #1511
I ran into this problem too. I solved it by adding the `--legacy-peer-deps`  flag when installing react native svg.

`npm i react-native-svg --legacy-peer-deps`

[2021-09-14 16:41] VictorACH commented on #1511
But without expo cli not work properly?

[2021-09-14 23:42] phoenixbeats01 commented on #1511
I'm not sure, test it out.

[2021-09-19 08:19] perry-mitchell commented on #1287
@SaidTorres3 Thanks for that! Your solution works perfectly. I went ahead and make a separate hook so it's easily reused wherever you create modal components:

[code]

[2021-09-19 09:09] Alta1re commented on #547
Still have exactly the same issue on V5.1.1, on both platforms (iOS, Android).
Swiping works fine. External change of selectedIndex does not change the view.

[2021-09-20 05:33] RayVR commented on #1505
I don't really understand the problem you had that required sticking the Icon outside the card component. I modified your example to include an Icon in your List and it works fine.

https://snack.expo.dev/P-F56A_zl

[2021-09-20 11:15] kvicera commented on #1505
Thanks for the reply! Turns out I'm doing it wrong. I will close this now as I moved on and used another library. Your solution is valid and will be useful for newbies like me who encounters this deadlock.

[2021-09-20 11:15] #1505 closed

[2021-09-21 07:46] RenatoSerra22 opened #1516 "Persist scroll bar in select element"
Hello, how can i persist the scrollbar of the select componenet? Where in the ui kitten code could would i have to add `persistentScrollbar` if i were to patch it? cant seem to find it (New to react/typescript)
Several of my users leaving feedback they cant to something that should be possible and i realised its because they are not aware the list within selects is scrollable and there are more op

[2021-09-22 12:38] shalu-tulsyan commented on #1009
![Screenshot from 2021-09-22 18-06-57](https://user-images.githubusercontent.com/83806212/134344741-092439fe-f15e-4ddd-9aab-270782d9d919.png)
Having error on customMapping, how to resolve this?

[2021-09-23 18:25] Codelica commented on #1217
RangeDatepicker is also inconsistent, behaving like DatePicker.   What are people doing to normalize for now? Some items don't seem to be tweakable via style overrides or mapping, unless I'm missing something.

[2021-09-27 02:34] phoenixbeats01 commented on #932
I'm having trouble with this too, I've done this:

`"Toggle": {
        "meta": {
          "appearances": {
            "default": {
              "mapping": {
                "width": 22,
                "height": 20,
                "borderRadius": 6,
                "borderWidth": 0,
                "thumbWidth": 10,
                "thumbHeight": 10,
                "thumbBorderRadius": 14,

[2021-09-27 20:33] Omar-8 commented on #1299
Could you show me around?

[2021-09-29 12:29] nabeelvalley commented on #1369
I also think this would be a great addition, so any props on the inner `Button`s shouldn't be overwritten by the the props on the `ButtonGroup`

[2021-09-30 09:54] Zdraff opened #1518 "warn: eventemitter.removelistener('change', ...): Method has been deprecated"
## 🐛 Bug Report

Got warn
`EventEmitter.removeListener('didUpdateDimensions', ...): Method has been deprecated. Please instead use `remove()` on the subscription returned by `EventEmitter.addListener`.`
when using Modal component.

## To Reproduce

Open screen with modal component, then return to previous screen.

## Expected behavior

No warns :)

## UI Kitten and Eva version

| Package      | Ve

[2021-09-30 21:13] Codelica commented on #1465
Given all the closed issues regarding this position with translucent Android statusbar, I'm curious what the "proper handling" really is?   Doing a conditional custom mapping like above doesn't "feel right" but what other option is there?

[2021-09-30 23:01] kav commented on #955
Any further thoughts here? Happy to help functionalize things or take a stab at adding forwardRef to styled. Also for my use case (in input) I'm cool with just adding a prop and passing the input component ref rather than creating it in the construction. Happy to help PR any of that.

[2021-10-01 12:30] RWOverdijk commented on #955
I'm not using ui-kitten anymore and this ref stuff should probably be a different, new issue. I'm closing this and disabling notifications.

[2021-10-01 12:30] #955 closed

[2021-10-01 13:14] kav commented on #955
Ah yes my question was more for @artyorsh as I've got a similar forwardRef requirement for input. I can open a new issue or just a PR if someone with merge permission can give me a bit of direction on which approach they'd like to follow.

[2021-10-02 19:00] kav opened #1520 "Use forwardRef to underlying RN components"
## 🚀 Feature Proposal
Basically the same request as: https://github.com/akveo/react-native-ui-kitten/issues/955

## Motivation

In my case I'm running into trouble with a component that expects a RN Input. I'd like to give it a UI Kitten one instead but need a forwardRef for things to work. Generally as noted previously the components will play nicer if they forward ref to the underlying component

[2021-10-04 12:03] lbuttignol commented on #1506
I'm facing the same issue without using Expo. I'm wondering, did you find a solution @Codelica or should I use a wrapper to make font styles consistent in both platforms IOS and Android?

[2021-10-04 15:26] Codelica commented on #1506
@lbuttignol in the end my issue was that some styles were requesting bold styling from `OpenSans-Regular` which Android tried to accommodate by adding some stroke weight where iOS didn't.  By setting those areas to `OpenSans-Bold`, both were bolded as expected.  If that's what you're running into, you should be able to normalize things with a "[component mapping](https://akveo.github.io/react-nati

[2021-10-04 17:15] lbuttignol commented on #1501
Same issue here! ✋
@vkumaez Did you find a solution to avoid this behavior?

[2021-10-05 11:03] ajakka opened #1522 "Back button Icon with RTL support"
## 💬 Question
I have an issue when trying to implement RTL where the back icon doesn't flip with the UI.
In [react native blog](https://reactnative.dev/blog/2016/08/19/right-to-left-support-for-react-native-apps), they mentioned flipping the Image using transform property but that didn't work.

This is how it looks right now. The back arrow should be facing the other direction
<img width="295" alt

[2021-10-05 17:55] fabarea opened #1523 "Starting a fresh expo web project returns an error in the console"
## 🐛 Bug Report

Starting with a fresh expo project for web return an error in the console. Without UI Kitten the web is correctly rendered

## To Reproduce

Steps to reproduce the behavior:

[code]

My `App.js`

[code]

## UI Kitten and Eva version

My package.json

[code]

## Environment information

[code]

## The error

I get the following error. Something to do with a missing babel loader?

[

[2021-10-10 20:09] whitestranger7 opened #1531 "wrong mapping for 'textFontSize' property in button component"
## 🐛 Bug Report

When using `Button` component, mapping provide `textFontSize` for setting up `fontSize` for text inside button. Yet, looks like mappings doesn't work for this particular property. When trying to set up different `textFontSize` - it's always applies default value, which if `16`.

It should work, since `textFontSize` gets from eva mapping [here](https://github.com/akveo/react-native

[2021-10-11 23:22] phoenixbeats01 commented on #1243
I'm having the same problem still. @shawnzheng99 did you end up finding a solution?

[2021-10-12 09:48] Applizone opened #1532 "Render a <SelectItem/> from JSON object array"
## 💬 Question

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |    ^2.1.1    |
| @ui-kitten/components   |    ^5.1.1     |

I have a sample data as below:
`unloadlocation: [{ "id": 1, "location": "RL1" }, { "id": 2, "location": "RL2" }, { "id": 3, "location": "RL3" }, { "id": 4, "location": "RL4" }]`

If I use string of array in for Se

[2021-10-13 16:07] thivyakm opened #1533 "How to use PersistGate from redux-persist with UI Kitten"
## 💬 Question

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |        |
| @ui-kitten/components   |         |

[2021-10-13 16:16] thivyakm opened #1534 "How to use PersistGate from redux-persist with UI Kitten"
I'm using redux Provider and PersistGate like below code
`<>`
  `  <IconRegistry icons={FeatherIconsPack} />`
  `  <ApplicationProvider {...eva} theme={{...eva.light, ...theme}}>`
  `    <Provider store={store}>`
  `      <PersistGate persistor={persistor}>`
  `        <NavigationContainer>`
  `          <RootNavigator />`
  `        </NavigationContainer>`
  `      </PersistGate>`
  `    </Provid

[2021-10-14 18:35] MendelBak commented on #892
Same issue here. Any other solutions?

[2021-10-15 17:15] obayit opened #1535 "How to run on web with expo?"
## 💬 Question
When I try to run my expo project in the web, I get this page:

![screenshot-localhost_19006-2021 10 15-19_13_14](https://user-images.githubusercontent.com/20386024/137526914-bb14d4c3-9e29-4e44-8e9b-db57e2d01d18.png)

Error in text:
[code]
## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |    5.1.1    |
| @ui-kitten/compone

[2021-10-16 07:55] joleb commented on #1535
add `@expo/webpack-config` as dependency and add the following code inside `webpack.config.js`

[code]

checkout this for more details: https://github.com/akveo/react-native-ui-kitten/issues/996#issuecomment-616115469

[2021-10-16 10:55] #1535 closed

[2021-10-17 15:33] joleb commented on #1523
see: https://github.com/akveo/react-native-ui-kitten/issues/1535#issuecomment-944876518

[2021-10-18 10:28] kssai-62 opened #1538 "How to change border color of select component ?"
## 💬 Question

I am unable to show different border colors on different screens for the select component but it is only showing border color according to status unable to show other colors.

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |    ^5.1.1    |
| @ui-kitten/components   |    ^2.1.1     |

[2021-10-21 12:00] gabrielmoncea opened #1539 "Accept react-i18next `TFunctionResult` type"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@ui-kitten/components@5.1.1` for the project I'm working on.

I'm using UI Kitten with Typescript and React-i18next. The problem is that the `Text` component doesn't accept the string resulted from the `t()` function because it can return a null or object if the n

[2021-10-21 17:48] gabrielmoncea commented on #1232
It would be great! I am trying to animate the height of the Select container, but frame drops when the options container appear

[2021-10-22 06:32] Wimmind opened #1540 "how to trigger a groupMenu component ?"
how to trigger a groupMenu component ? I try through the `ref.current.onPress()` , the event is triggered, but does not expand under the menu, help
[code]

[2021-10-22 13:25] Davete0302 opened #1541 "TabView Tab taking height of longest tab"
## 🐛 Bug Report

I have a tabview and inside is 4 tabs, on first tab view I have a flatlist with atlest 20 data. When I navigate to other tabs  it seems to be taking the height of the longest list in the tab group (tab 1 in this case)

## To Reproduce

Steps to reproduce the behavior:
 ## Expected behavior
` <TabView
                selectedIndex={selectedIndex}
                onSelect={index =>

[2021-10-24 05:29] OmarKhattab opened #1542 "Unable to select year on date picker"
## 🐛 Bug Report

Clicking year on date picker shows years but does not allow years to be selected.

## To Reproduce

Steps to reproduce the behavior:
Click date picker input, select year at top left, attempt to click year and its greyed out.

## Expected behavior

I expect year to change when clicked
<img width="736" alt="Screen Shot 2021-10-23 at 10 27 41 PM" src="https://user-images.githubuserco

[2021-10-25 19:43] nyoung697 opened #1543 "Is it possible to set a default prop to a component?"
For example, if I wanted every Text component I render to have the allowFontScaling prop set to false by default.  Could I override this somehow in the configuration files?

[2021-10-25 19:46] #1543 closed, assigned to nobody

[2021-10-29 11:28] ai-dev opened #1544 "useStyleSheet invalidating memoizations"
## 🐛 Bug Report

If the returned value of useStyleSheet is used as dependency of an hook (useMemo, useCallback, useEffect...) it will trigger the re-execution of the callback in the hook at every frame.

## To Reproduce

Steps to reproduce the behavior:

[code]
the example is with useMemo but the same will happen with `useEffect` and `useCallback`

## Expected behavior

I'm expecting the memoized

[2021-11-01 14:04] malashkevich commented on #1542
@OmarKhattab this is most likely should be documented, but it's actually correct behavior.
In the examples from the documentation, there is no `min` and `max` props set. If those props are not set, the calendar will take props by default: `min` as the beginning of the current year and `max` as the end.https://github.com/akveo/react-native-ui-kitten/blob/04481cec49a78f859c4cde65a45b157770ea1439/src

[2021-11-01 14:04] #1542 closed

[2021-11-01 14:13] malashkevich commented on #1533
It seems it should be something like this:
[code]

[2021-11-01 14:13] #1533 closed

[2021-11-01 14:14] malashkevich commented on #1534
duplicate of #1533

[2021-11-01 14:14] #1534 closed

[2021-11-01 15:22] malashkevich commented on #1522
@ajakka it seems you are not correctly applying the approach described in the blog.
Please try something like this:
[code]

[2021-11-01 15:22] #1522 closed

[2021-11-01 15:31] malashkevich commented on #1516
@RenatoSerra22 @marianocorvatta unfortunately it's difficult to implement on iOS. https://stackoverflow.com/a/51595310
Closing this, because it's not UI KItten issue

[2021-11-01 15:31] #1516 closed

[2021-11-01 15:40] malashkevich commented on #1509
@Thorbenl it works actually as expected.
So the key idea is that modals are not part of the particular screen.
It's just a view displayed on top of the application, nothing more.
So if you need to hide a modal by pressing the android hardware button you have to subscribe to it and explicitly call `hideModal` function.

[2021-11-01 15:40] #1509 closed

[2021-11-02 08:47] malashkevich commented on #1508
@amrshadid could you please add to the issue the code you are using?

[2021-11-02 09:44] Applizone commented on #1532
Does reproducible example mean by I put my code somewhere like Sandbox/Expo so you could see it in full picture of the problem? If yes, can you suggest one of the site that can run with UI Kitten? Never done one of these.

[2021-11-02 11:14] malashkevich commented on #1500
Closing due to inactivity

[2021-11-02 11:14] #1500 closed

[2021-11-02 11:16] malashkevich commented on #1414
Closing due to inactivity

[2021-11-02 11:16] #1414 closed

[2021-11-02 17:27] rashed-iqbal opened #1545 "You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file"
## 🐛 Bug Report

./node_modules/@ui-kitten/components/ui/input/input.component.js 105:38
Module parse failed: Unexpected token (105:38)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
|         this.webEventResponder = devsupport_1.WebEventResponder.create(this);
|         this.focus

[2021-11-03 08:35] deepakkumardk commented on #1495
@squareborg Did you find any solution for this?

[2021-11-03 08:51] squareborg commented on #1495
@deepakkumardk

In the end, I ended up having to add a Text component wrapped in a View to control text size.

[code]

[2021-11-03 09:41] deepakkumardk commented on #1495
Thanks, @squareborg but then I need to change this in all files.

@artyorsh Any props that can work for the mapping.json file?

[2021-11-03 09:43] squareborg commented on #1495
@deepakkumardk Agreed its not ideal, I never figured out the mappings.json, let me know if you figure it out

[2021-11-03 11:20] deepakkumardk commented on #1495
@squareborg Finally found one, this [json file](https://github.com/eva-design/eva/blob/master/packages/eva/mapping.json#L437) helped me out.

    "Button": {
      "appearances": {
        "filled": {
          "variantGroups": {
            "size": {
              "medium": {
                "textFontSize": 24
              }
            }
          }
        }
      }
    }

[2021-11-03 17:30] vuk-nikolic opened #1546 "SelectItem moved down for the size of the status bar on iOS"
## 🐛 Bug Report

We added custom theme via mapping.json file where just changed background color and borders.
When I tap on a `Select` component, it's `SelectItem`s are moved down, it seems like for the size of the status bar if i'm not mistaken.
Here is a screenshot, I tapped on "Select Time" and it went down even below "Additional notes" that's the row below it:
![Screenshot 2021-11-03 at 18 19

[2021-11-05 00:10] Nr9 commented on #1501
Same issue here

[2021-11-05 01:04] Nr9 commented on #1501
is this related to https://github.com/facebook/react-native/pull/29117 ?

[2021-11-05 07:05] sajadghawami commented on #1490
Having the same issue.

We are using detox for e2e testing, before a `multiTap` was needed to activate a checkbox. After upgrading, somehow this changed to only one tap and all our tests seem to be broken.

This behaviour also seems to be very flaky, since sometimes two and sometimes only one tap needs to be done.

[2021-11-05 10:37] dozsolti commented on #1172
It shouldn't be closed THE PROBLEM STILL EXISTS!!!

[2021-11-05 13:26] malashkevich commented on #1546
Hello @vuk-nikolic, please make sure that `ModalService. setShouldUseTopInsets` is used on Android only. Most likely this is root cause

[2021-11-05 13:27] malashkevich commented on #1545
@rashed-iqbal could you please describe what you are trying to achieve? It's not clear from the error above.

[2021-11-05 13:53] vuk-nikolic commented on #1546
thanks @malashkevich, I'll check it out! Do I set `ModalService` on the app level or per component that uses a popover internally?

If I got it right from here it's global https://akveo.github.io/react-native-ui-kitten/docs/components/modal-service/overview#modalservicetype but I guess internally select is using it :)

[2021-11-05 14:11] dVaytul commented on #1532
Hello @Applizone

Thanks for sharing all the code.

Your issue appears because the value attribute of `<Select />` should be `ReactText | ReactElement | (TextProps) => ReactElement` ( [docs](https://akveo.github.io/react-native-ui-kitten/docs/components/select/api#:~:text=set%20to%20true.-,value,-ReactText%20%7C%20ReactElement%20%7C%20(TextProps)) ).
In your case `displayUnloadLocationName` is an

[2021-11-06 15:28] vuk-nikolic commented on #1546
Changing `ModalService.setShouldUseTopInsets` to either true or false did not change anything.
I had to upgrade to uikitten 5.1.1 in order to have that property.

In the file where that screen is defined I'm setting `ModalService.setShouldUseTopInsets = false` for iOS but nothing is happening. What I am doing wrong? :)

[2021-11-07 10:20] vuk-nikolic commented on #1546
I saw that if I add to the `Popover` via react native debugger style `{ top: -44 }` it looks like it should. Now I need to figure out how to do that in code :)

Is there a way to override that style just for iOS? In`mapping.json` it does not have parameters for `Popover`, while in `Select` there are `popoverMaxHeight`, `popoverBorderRadius`, `popoverBorderColor` and `popoverBorderWidth`, and not f

[2021-11-08 09:21] lavor commented on #1422
@1jerry @sschottler
I also came into this issue now (using @ui-kitten@5.1.1) and figured it out.
According to the react-native-web documentation it is necessary to set the `focusable` prop to false (e.g. with patch-package as suggested above).
[The `accessible` prop is not implemented by react-native-web](https://necolas.github.io/react-native-web/docs/accessibility/#keyboard-focus).

[2021-11-08 17:46] greenafrican commented on #1309
Any fixes for this?

[2021-11-09 02:55] marlti7 commented on #1501
Same issue here

[2021-11-09 08:16] #1532 closed

[2021-11-09 11:33] malashkevich commented on #1508
Closing due to inactivity. Feel free to reopen if it's still the case.

[2021-11-09 11:33] #1508 closed

[2021-11-09 12:38] dVaytul commented on #1546
Hello @vuk-nikolic
I can't repeat your issue.
Could you please provide code example of screen initialisation?

[2021-11-09 14:19] roman-teamsystems commented on #1545
I have the same issue after installing @ui-kitten/components in my project with expo.

[2021-11-10 11:42] dVaytul commented on #1538
Hi @kssai-62

You can describe your own statuses with different border colours and use them instead of the predefined ones:
- create `mapping.json` with new styles of Select component (see example bellow);
- merge mapping inside `ApplicationProvider`;
- add new status to component: `<Select status="yellow" />`.

For more information [read documentation](https://akveo.github.io/react-native-ui-kitt

[2021-11-10 16:28] oussamabouchareb commented on #1309
I ended up building my own components library so I have no clue... sorry

[2021-11-11 12:39] dVaytul commented on #1531
The bug is caused by React.cloneElement

[2021-11-12 14:38] dVaytul commented on #1490
@sajadghawami, @longseespace, @iacovlev-pavel, @manuelmhtr

If we set `testID` on `TextInput` only, would that be more suitable for you or should we keep it in two places both (`TouchableWithoutFeedback`, `TextInput`)?

[2021-11-13 13:21] obayit commented on #1235
Isn't `accessoryLeft` is expected to be an image item? can I render anything there?
To quote the docs

![screenshot-akveo github io-2021 11 13-15_19_45](https://user-images.githubusercontent.com/20386024/141645313-b137e00d-f015-4e2e-9271-6755cb55edca.png)

[2021-11-14 10:29] longseespace commented on #1490
@dVaytul In our case, we need the `testID` on the `TextInpu` and `accessible={false}` on the `TouchableWithoutFeedback`

[2021-11-16 16:16] sajadghawami commented on #1490
@dVaytul

This is my current situation:

Before i did the upgrade, i had `detox@17` and `kitten-ui@5.0.0`

- In one of our test-cases we have multiple inputs and a checkbox that needs to be selected to be able to continue (basic sign-up)
- Before i was forced to use `.multiTap(2)` on the checkbox to firstly release the focus from the last input and to actually be able to check the checkbox

Everyt

[2021-11-18 17:01] pavitpim40 opened #1549 "Cant custom text-basic-color in theme.json"
## 💬 Question
I try to config text-basic-color, but it not work.
Here my theme.json

[code]
and this my result in screen (H1)
<img width="315" alt="Screen Shot 2564-11-18 at 23 58 57" src="https://user-images.githubusercontent.com/63455126/142461633-71714b0b-0467-4af0-8c86-0e5e9ee0942d.png">

thank you in advance :)
## UI Kitten and Eva version

| Package      | Version |
| @ui-kitten/components |

[2021-11-18 20:48] jaredswenson commented on #945
Is there a solution for this?

[2021-11-22 07:31] #1538 closed

[2021-11-22 11:50] whitestranger7 commented on #1549
Hi, @pavitpim40, there's should not be any issues with assigning new color value. Please, check if you're getting the style color value correctly. Provide please your code sample so I could help you with your problem

[2021-11-22 12:17] whitestranger7 commented on #1539
Hi, @gabrielmoncea! Personally, I don't think it's a good idea to add whole package in order to support type. Type we provide is matchable for `i18next` type. You could just go with:
[code]

[2021-11-22 12:19] gabrielmoncea commented on #1539
That's a good idea! Thanks!

[2021-11-22 12:20] #1539 closed

[2021-11-22 21:50] garrylachman opened #1551 "Issues with Modal Service"
## 🐛 Bug Report
1. In Modal Service example the modalID is stored in re-assign to const
[code]
I think i dont need to explain why its wrong (and not working for me).
2. in `showModal` function modalID access via `this`, in react functional component this is `undefined`.
3. I try to store `modalID` in React.useState but after the assign i can't access to the modalID via state, its just empty. i don

[2021-11-24 08:19] tdranv opened #1553 "Invisible modal appears to be stripping away the redux provider?"
## 🐛 Bug Report

I have this component:

[code]
The `App.js` is wrapped in a redux `Provider`, everything else works fine.

Initially, the modal is hidden, as you can see. If I press and hold in order to show the `onHoldContent`, I get an error that the app is not wrapped in a `Provider`.

It works if you wrap the `renderOnHoldContent`, or if you switch to `react-native`'s `Modal`, which leads me

[2021-11-24 15:16] dVaytul commented on #1541
Hello @Davete0302

In TabView implementation we use a custom ViewPager (horizontal ScrollView), which height is determined by the height of the tallest child. So, there is no bug.
But you can try to play around with TabView height by onSelect event.

[2021-11-26 10:01] zsolt-tracknamic opened #1554 "READ THIS BEFORE YOU INSTALL"
I've used this for almost a year now and here is something to consider before using this:

### Be ready to use unnecessary props passing everywhere.
If the other libraries don't need them this means it can be done without. Now the question is that they made it intentionally like this for no reason or they weren't able to fix it.
Ex. `
<Button style={styles.button} status='primary' accessoryLeft={(

[2021-11-26 13:09] dennisbouwpas opened #1555 "Custom mapping"
## 💬 Question

Hi! I am trying to customize some components and decided to start with Button component
So I created custom mapping, I see a different color, but for some reason, the border-radius doesn’t work.
Am I missing something?

[code]

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |    2.1.1    |
| @ui-kitten/components   |

[2021-11-28 09:37] #1555 closed

[2021-11-28 20:48] bnussman commented on #1554
lol

[2021-11-29 22:06] sajadghawami opened #1557 "How to use this with nextjs and createExpoWebpackConfigAsync"
## 💬 Question

If you want to use kitten-ui with react-native-web you currently have to [update your webpack.config like this](https://github.com/akveo/react-native-ui-kitten/issues/1535#issuecomment-944876518):

[code]

Unfortunately, nextjs has its own `next.config.js`, such as:

[code]

The problem here is, you cant use a promise which you need for `createExpoWebpackConfigAsync`.

Anyone has a

[2021-11-30 03:10] bevvvis commented on #602
I want to know what cause this problem, still face same error using Eva 2.1.1. I have been use the ApplicationProvider for root component

[2021-12-03 09:12] #1541 closed

[2021-12-03 17:44] bencreynolds opened #1558 "Invert Layout Levels Based on Light/Dark Theme"
Hi, I'm working on an app where I want <Layout level="1"> to be set to the background-color-1 mapping when using dark mode, but I want it to be set to background-color-4 when using light mode. (And so on...)

I cannot seem to find a way to do this using the mapping.json or theme.json as explained in the documentation.

Am I missing something? I could obviously set some kind of check on every scree

[2021-12-06 13:09] TheEvisu commented on #1222
solution is out of date? is there something relevant?

[2021-12-06 13:14] dVaytul commented on #1551
Hello @garrylachman

p.1, 2 - You are right, the example is broken. It should be `let modaID` and `this` should be removed, of course.

p.3 - useState hook is asynchronous, and will not be reflected immediately.
[code]
but will be updated later:
[code]

Regarding p.4 - you need to calculate and specify correct position (`position: 'absolute', top/left`) by yourself to set `contentElement` in the c

[2021-12-07 07:57] dVaytul commented on #1513
Hello @ajstokar
Unfortunately, I can only suggest you to use our Modal instead of react-native Modal.

[2021-12-08 13:55] forestsource opened #1561 "Overflowmenu sample occur a error in official site"
## 🐛 Bug Report

Overflowmenu sample occur a error in official site.
![image](https://user-images.githubusercontent.com/11706146/145220215-83bfd045-e4c3-4fd0-aac3-5c767a8c7d4b.png)

## To Reproduce
https://akveo.github.io/react-native-ui-kitten/docs/assets/playground-build/#/OverflowMenuNoMarkers

Steps to reproduce the behavior:
1. Click button
2. Click Menu item

## Expected behavior
It should d

[2021-12-08 15:01] Shihaburabbi commented on #1145
same problem anyone help me
[code]

[2021-12-09 13:26] CodeQiangZi commented on #1415
还是有问题啊

[2021-12-09 17:21] sawndur opened #1562 "Can you highlight overlapping dates in the Calendar component?"
## 💬 Question
I would like to know if I can select overlapping dates like this. I've looked through the source files but cannot seem to find where the backgroundColor is being applied and changed when you select these components.

![IMG_0315](https://user-images.githubusercontent.com/60828583/145444753-6492f079-4189-498f-a3ba-ede692268411.jpg)

## UI Kitten and Eva version 5.1.1

| Package      |

[2021-12-09 22:49] sathishkumar1911 opened #1563 "Can't show a specific month on load"
In my app I need to show the range calendar in the first page and based on the date range selection the second page should show the option to the user to choose single date. E.g., When I choose Feb 1 to Feb 15 2022 in the first page with the range calendar, the user should choose  any of the date between Feb 1 to Feb 15 2022 in the second page.

I need to show the calendar in the second page shows

[2021-12-09 22:53] sathishkumar1911 opened #1564 "Can't select same date in the date range calendar"
The Date range calendar not allowing to select same date for both start and end date. Like If I want to use the single date range calendar for below scenarios
* Select Dec 1st to Dec 15th
* Select Dec 15th to Dec 15th (I am providing the option to select the times like Dec 15th 9 AM to Dec 15th 5PM).

It is not working on the second case.

[2021-12-09 22:59] sathishkumar1911 opened #1565 "No option to change the color of the current date selection"
When I use the single date calendar on my app, it is showing the current date as selected but it is not actually selected and when it is selected, it is highlighted with the same style. It is hard for users to know whether the date is selected or the current date is highlighted.

Current Date:
![image](https://user-images.githubusercontent.com/2183751/145489003-95cc730e-ffcb-494c-b08a-d2e940cd7e2a

[2021-12-10 08:43] malashkevich commented on #1554
Hello @zsolt-tracknamic and thanks for your feedback. I really appreciate it.

I would like also to explain our decisions, hopefully, it will make sense.

1. Regarding unnecessary pros. The idea behind our components is that every component has a state. So for example button always has a combination of `appearance`, `status` and `size`. But the good thing is that all of them have default values. I

[2021-12-10 08:43] #1554 closed

[2021-12-10 15:01] sawndur commented on #1565
You can change the style of selected date with customized mapping.

[2021-12-10 15:04] sawndur commented on #1564
The range calendar should be used for dates... I don't think the range calendar was intended to provide the option to select time. If you select Dec 15th, and only Dec 15th, that will be the only startDate. You can use that fact to maybe open another modal showing time selection.

[2021-12-10 15:04] sawndur commented on #1562
Figured this out

[2021-12-10 15:04] #1562 closed

[2021-12-10 16:46] #1491 closed

[2021-12-13 11:15] #1513 closed

[2021-12-16 22:13] bencreynolds commented on #1342
You can achieve .popToTop() behavior by changing the onSelect prop in the docs to:

[code]

[2021-12-17 06:51] Applizone commented on #1184
@artyorsh the divider appear on main screen. But it is not appear on custom modal class. I try both react native modal and ui kitten modal and it not appear. I try from one of this comment and it shows. Btw @dlwlrma00 thanks for sharing

[2021-12-20 16:16] Latgals opened #1566 "The Select element does not select items from the list"
## 🐛 Bug Report

In the Expo application, the Select element does not select items from the list, but shows "Option 1", "Option 2", etc.

I copied the code from the UI Kitten documentation for the Select element and pasted it into my application. I just replaced the "title" value in <SelectItem> with my own text. But the Select after selection still shows "Option 1", "Option 2", and not my items.

[2021-12-21 07:02] Ycmelon commented on #1566
Having the same problem... unless we're missing something?

In the meantime, this is how I'm doing it:

[code]

Seems like `value` is what is displayed in the input box.

[2021-12-21 14:39] Latgals commented on #1566
Thanks to. With single select I solved the problem too.
But with multiSelect not yet.

[2021-12-26 01:38] jasselmar commented on #1503
Needed

[2021-12-26 15:21] elisjoaquim commented on #996
Thanks @harryy2510 ! Yoursuggestions works great.

[2021-12-28 11:09] kieuquang1110tt commented on #1541
@Davete0302  any way to fix it?

[2021-12-29 14:23] belaziv commented on #996
@darcstar-solutions Can you please specify where exactly to add it? ty

[2021-12-29 14:30] belaziv commented on #991
If I add [that](https://github.com/akveo/react-native-ui-kitten/issues/991#issuecomment-610511495) I get the following error:
[code]
@lesmo Any idea? ty

[2021-12-30 08:11] acrdlph opened #1568 "Hot to configure metro for UI Kitten build in EAS CI?"
## 💬 Question

I am trying to use [`@ui-kitten/metro-config`](https://akveo.github.io/react-native-ui-kitten/docs/guides/improving-performance#improving-performance) with the new EAS build flow from Expo.

Everything works well when I build an app for development and serve it through a development client. However, when I build a standalone version, the custom mapping I defined through my `mapping.

[2021-12-30 11:26] belaziv commented on #996
If I add [that](https://github.com/akveo/react-native-ui-kitten/issues/991#issuecomment-610511495) I get the following error:
[code]
Any idea?

[2021-12-30 11:57] dVaytul commented on #1566
@Latgals

By default, `Select` displays a value by building strings for selected indices. For a real-word examples, a `value` property should be configured.

Please, take a look at the example ['Select Display Value'](https://akveo.github.io/react-native-ui-kitten/docs/components/select/overview#:~:text=Select%20Display%20Value).

[2021-12-30 13:58] belaziv opened #1569 "ERROR in ./node_modules/react-native/index.js: Module parse failed: Unexpected token"
## 🐛 Bug Report
I'm trying to use the library for my react native WEB app
I run it with `webpack` + `babel` but I get the following error:
[code]

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

## Link to runnable example or repository (highly encouraged)
https://github.com/belaziv/RN-WEB-EX

## UI Kitten and Eva version

| Package      | Version |
| ----------- | -------

[2022-01-01 11:44] pavitpim40 opened #1571 "Custom year in Calendar Component"
## 💬 Question
How can I change year number in calendar component (eg. 2022 to 2565 for buddhist calendar)
thank you in advance.
![ภาพถ่ายหน้าจอ 2565-01-01 เวลา 18 44 30](https://user-images.githubusercontent.com/63455126/147849763-00d222f0-334e-4000-9f2f-d00e29210257.png)

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |    2.1.1    |

[2022-01-03 03:50] #1137 closed

[2022-01-03 22:02] stdavis commented on #1392
@edwardffs Did you ever solve your issue? I'm experiencing something similar with buttons in a card footer.

[2022-01-04 13:54] dVaytul commented on #1571
Hi @pavitpim40

If you want to use date in usual format (2022), but show a different year (2565) in the calendar, you should set custom title and renderYear props. Check details in the [docs](https://akveo.github.io/react-native-ui-kitten/docs/components/calendar/api#calendar).

[See the example](https://snack.expo.dev/ZklBpTdpx)

[2022-01-04 21:39] GautierT commented on #1568
Hey @acrdlph
Did you find any solution ? I have the same problem. Mapping.json not picked up on production build...

[2022-01-05 06:38] acrdlph commented on #1568
Unfortunately no solution yet -- I also tried using the 'old' / un-optimized way of passing the mapping as `<ApplicationProvider {...eva} customMapping={mapping}` but that crashes the app.

This is forcing me to move away from UI Kitten, because without custom mapping I'd  rather build the components myself.

[2022-01-05 08:33] GautierT commented on #1568
The weird thing is that on IOS the mapping work. And on the dev client too (when I build with `"developmentClient": true`)
You too ?

[2022-01-05 10:56] GautierT commented on #1568
@acrdlph FIY : If I use
[code]

with
mapping.json
[code]

I don't have any crash.

[2022-01-06 12:24] dVaytul commented on #1565
Hi @sathishkumar1911,

looks like date property should be required. In this case a color of the current date (01/06/2022) differs from the color of selected date (01/12/2022).
<img width="368" alt="Screenshot 2022-01-06 at 15 07 28" src="https://user-images.githubusercontent.com/31446157/148380773-023c1ad6-1b16-4660-99c7-bd8532d705a1.png">

As advised above, if you want to customise colours, you c

[2022-01-06 22:39] lcustodio commented on #1501
Same issue here

[2022-01-07 14:18] GautierT commented on #1501
Maybe related to this https://github.com/akveo/react-native-ui-kitten/issues/1568

[2022-01-07 16:06] Kernael commented on #1329
`top` seems to work properly, but `bottom` does not. As a replacement for `bottom: 0`, one could use `top: 70%, height: '30%'` for example

[2022-01-10 04:47] acrdlph commented on #1568
Yes for me, the metro config approach works in the development client  - just not in production Play / App Store builds.

However, you are also right that the regular customMapping approach works even in production -- it was just an issue with my particular `mapping.json` that made my app crash previously. So the issue here is just about making the metro config approach (with its improved performa

[2022-01-10 12:49] #1571 closed

[2022-01-10 12:49] #1566 closed

[2022-01-10 12:49] #1565 closed

[2022-01-10 12:50] PrathamMittal17 opened #1574 "Icons not showing UI kitten"
## 🐛 Bug Report

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

## Link to runnable example or repository (highly encouraged)

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |        |
| @ui-kitten/components   |         |

## Environment information

[code]

[2022-01-10 12:51] #1574 closed

[2022-01-11 16:38] 1997roylee opened #1575 "Ui kitten button is not performing well on Android"
## 🐛 Bug Report

For my situation, I am trying to render a set of Kitten Button with Flat List, and it's not performing well when I press it on Android, it will drop the JS. I think there are animation issues with the Flatlist.

[2022-01-12 07:47] malashkevich commented on #1541
@kieuquang1110tt I guess you can try to subscribe to `onLayout` event on the active tab content and change the height of `TabView` accordingly

[2022-01-13 07:30] dVaytul commented on #1575
Hello @1997roylee

Please, can you provide more details about the issue: code example, screenshot of the error.

[2022-01-16 06:28] rawnaveen opened #1576 "Hide bottomNavigationTab"
## 💬 How do I set the visibility on BottomNavigationTab? I need to hide the tab bar in certain tabs.

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |     2.1.1   |
| @ui-kitten/components   |  5.1.1       |

[2022-01-16 09:20] JoeKlimcak opened #1577 "Selectable text not working when part of a List"
Even if we just take the basic example list demo from your website:

[code]

If I insert something like the following:

[code]

The selectable feature doesn't work.

How can I make the text inside your List selectable?

[2022-01-16 17:30] MateWW commented on #1288
As a workaround, you can wrap modal content with another `ApplicationProvider` but it's not perfect as the position of popovers is wrong. In my opinion, problems are caused by rendering popovers in the root of the application, and when react-navigation is using native modals that are by default over the root app.

[2022-01-16 22:39] rahulshettysc opened #1578 "Autocomplete blocks button press"
Thank you for creating this amazing library. I am facing an issue while using Autocomplete component.

## 🐛 Bug Report

Autocomplete's list makes me press the button twice when the focus is within the Autocomplete input

## To Reproduce

My parent component looks like below:

[code]

And the autocomplete is rendered in the child omponent like so:

[code]

If the value is not present, I add the Aut

[2022-01-18 02:48] DomenicJahn commented on #892
I'm facing the same issue using Next.js in an expo project. It doesn't matter what I try to override.

	{
	  "strict": {
		"text-font-family": "Arial"
	  }
	}

will result in

	Property 'components' is missing in type '{ strict: { ... }; }' but required in type 'CustomSchemaType'.ts(2741)

if `customMapping={mapping}` is defined in a `tsx` file. It does work if it's inside of a `js` file.

`custom

[2022-01-18 03:03] DomenicJahn commented on #892
I just added an empty

    "components": {},

so the mapping gets accepted within TS.

[2022-01-18 15:27] dVaytul commented on #1576
Hello @rawnaveen,

Let me clarify,
if we have the following structure, what do you need to hide: the whole `BottomNavigation` or a certain `BottomNavigationTab`?

[code]

Also, are you using BottomNavigation in combination with React Navigation?

[2022-01-18 18:55] vagnerlandio commented on #1175
mapping.json looks like and it's working:

`{
  "components": {
    "Button": {
      "meta": {
        "variantGroups": {
          "status": {
            "secondary": {
              "default": false
            }
          }
        }
      },
      "appearances": {
        "filled": {
          "variantGroups": {
            "status": {
              "secondary": {
                "borderColo

[2022-01-19 04:33] DomenicJahn commented on #1311
This doesn't work. When using a regular `Text` from `react-native`, the font will load. Importing `Text` from `@ui-kitten/components` and applying a style to it that makes use of that font, the app will crash:

	fontFamily "my-font-regular" is not a system font and has not been loaded through Font.loadAsync.

	- If you intended to use a system font, make sure you typed the name correctly and that

[2022-01-19 04:38] DomenicJahn commented on #1270
Does this somehow work within an expo project? It would need to modify `metro.config.js` .

[2022-01-19 07:46] ecemac commented on #1137
Is there any solution to this? I'm still having the same problem.

[2022-01-19 09:38] amrhassab commented on #1197
@fahimk here is how if you are still wondering 2 years later :)

https://akveo.github.io/react-native-ui-kitten/docs/guides/branding#typography

[2022-01-19 10:12] dVaytul commented on #1577
Hello @JoeKlimcak

We are using `<FlatList>` as a core of our `<List>`.
There is a known issue where `<Text>` inside `<FlatList>` cannot be selectable.
It can be resolved by adding `removeClippedSubviews={false}` prop to `<FlatList>` and our `<List>` too.

You can check details [here](https://github.com/facebook/react-native/issues/26264)

[2022-01-21 08:56] #1577 closed

[2022-01-21 08:59] dVaytul commented on #1546
Closed due to inactivity. Feel free to reopen

[2022-01-21 08:59] #1546 closed

[2022-01-21 10:29] msarfrazanwar commented on #1143
Why is the snack not showing the value on select ? It's showing me option 1 and option 2 instead of selected value

[2022-01-21 12:57] manhninh commented on #1534
I have configured like you but it doesn't work.

import * as eva from '@eva-design/eva';
import {ApplicationProvider, IconRegistry} from '@ui-kitten/components';
import {EvaIconsPack} from '@ui-kitten/eva-icons';
import React from 'react';
import {Text, View} from 'react-native';
import {Provider} from 'react-redux';
import {PersistGate} from 'redux-persist/integration/react';
import RootComponent

[2022-01-24 08:39] #1551 closed

[2022-01-24 12:55] #1229 closed

[2022-01-25 06:39] wijayantoap commented on #1265
Any updates for this?

[2022-01-26 01:34] fcamargo10 commented on #1007
Same problem! How you fix ?

[2022-01-26 17:29] msarfrazanwar commented on #1135
The same issue is there with List Component. It appears so small on by default.

[2022-01-27 12:50] #1222 closed

[2022-01-27 12:50] #1563 closed

[2022-01-31 07:38] suguspnk opened #1582 "MonthYear Picker"
## 🚀 Feature Proposal

Please make the Datepicker support a month/year selection.

## Motivation

I have a requirement that I need to select the month&year without the date and it seems like the current Datepicker does not support this or at least I can't find it.

## Example

<Datepicker mode="month" />

[2022-02-01 08:25] RWOverdijk commented on #1083
I've built my own ui library.

[2022-02-01 08:25] #1083 closed

[2022-02-02 09:34] Andriiklymiuk commented on #1422
In my case, i added `outline: 'none', outlineStyle: 'none'` to textStyle to remove outline on safari

[2022-02-06 16:11] Lester016 opened #1583 "Bug on Input component when used inside the Top Tabs (Specific only inside middle tabs)"
## 🐛 Bug Report

Bug on Input component when used inside the Top Tabs (Specific only inside middle tabs)
The Input field auto dismissed the keyboard when tapped.

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

## Link to runnable example or repository (highly encouraged)

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/

[2022-02-08 07:33] andrisole92 opened #1584 "Is there any way to add badges to tabs? :) Or custom overlays elements?"
## 💬 Question

Is there any way to add badges to tabs? :) Or custom overlays elements?

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |   2.1.1     |
| @ui-kitten/components   |    5.1.1     |

[2022-02-08 17:40] sergeu90 opened #1585 "Modal issue. UseContext inside modal not working."
Hi all. Thanks for the library.

## 🐛 Bug Report

For example

[code]
If we inside **TestComponent** will use useContext then we have issue.

I think it is general problem implementation modal.

Could you help me. How can i use context inside moda?

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |    2.1.1    |
| @ui-kitten/components

[2022-02-08 18:44] sergeu90 commented on #1553
@tdranv  Hi. I think i have same issue in this ticket https://github.com/akveo/react-native-ui-kitten/issues/1585

[2022-02-09 08:33] Applizone commented on #1113
@arminghm Yes, it's working from your way, thanks man. But on my screen, the accessoryRight will utilize the screen and search outline icon will dissappear.  So, I made a little change and use in the title. Voila, all element are placed accordingly.
[code]
![Searchbar](https://user-images.githubusercontent.com/90295274/153156186-18044976-00b6-4001-9791-9150712085aa.jpeg)

[2022-02-09 17:32] shehanrangana commented on #1501
Same issue here

[2022-02-10 23:47] suchcodemuchwow opened #1586 "Icon Button - Onpress Rectangular Animation"
## 💬 Question

I am using a Button with Icon inside with "ghost" property. Whenever I press the button there is a state triggered which shows the actual rectangle button. I want to use the only "Icon" part to be animated by darkening or other type of press effect. I am not sure how to do it with ui-kitten buttons or icons.

This is default state:
<img width="91" alt="Screenshot 2022-02-11 at 00 41

[2022-02-11 12:19] fcamargo10 commented on #1518
can be merged ?

[2022-02-15 06:49] JackStudd commented on #1518
Any updates on when will it be merged?

[2022-02-21 06:17] andrisole92 commented on #1584
Bump

[2022-02-21 22:29] alexonozor opened #1587 "RadioGroup in a loop conflicts."
How can I have a Radio group on a map without conflict options?

[code]

The first group in the list controls all other groups

[2022-02-22 19:55] DiogoRio opened #1588 "Error in init template"
## 🐛 Bug Report

Followed the getting started instructions at [https://akveo.github.io/react-native-ui-kitten/docs/guides/getting-started#new-apps](url) and i have an error as you can see in the image
![Screenshot_2022-02-22_19-46-31](https://user-images.githubusercontent.com/38264424/155207820-2eab7f7e-d952-4df5-a230-73dda26bc0ef.png)

## To Reproduce

Steps to reproduce the behavior:

1. npm un

[2022-02-25 19:22] bElliott06 commented on #1582
My team would also find this useful.

[2022-02-27 11:31] marioguerriero opened #1589 "Unexpected Token when using with react-native-web without Expo"
## 💬 Question

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |  2.1.1      |
| @ui-kitten/components   |   5.1.1      |

I am trying to use UI Kittens components in a multiplatform project in which we have ejected from Expo.

My `webpack.config.js` is:

[code]

And I start serving my project in debug mode with the command: `./node_mod

[2022-03-02 10:44] aminta opened #1591 "Is it possible to refer to variables defined in "strict" in mapping.json in nested objects?"
## 💬 Question

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |     "^2.1.1"   |
| @ui-kitten/components   |   "^5.1.1      |

[code]

It returns this error: `JSON value 'table-cell-medium' of type NSString cannot be converted to NSNumber`, so `cell-medium` is interpreted as literal string; if I try to use `cell-medium` as value in a n

[2022-03-02 12:04] ShubhamBathe-KM opened #1592 "Select Component having inconsistent behaviours on android and iOS platform."
## 🐛 Bug Report

Select Component having inconsistent behaviours on android and iOS platform. I was trying to implement simple select component in my project. Its working perfectly on android but for iOS platform its have some extra spacings while the dropdown menu is in open state.

![image](https://user-images.githubusercontent.com/67695272/156348101-32d2823f-00a3-4513-a9cc-7f3eba51413e.png)

I

[2022-03-02 15:48] dolhadan commented on #1057
In my case it seems that the `generated.json` is included both in the `index.android.bundle` and in `asset`. Looking at the comments above, I see none of you experienced this problem.

When running `react-native-bundle-visualizer` I can see a huge unmapped chunk of ~4mb when importing
[code]
Is there something that I'm missing?

[2022-03-02 16:14] #1270 closed

[2022-03-04 15:39] ricjohn-acosta commented on #1311
Can confirm I have this error too. Anyone got any suggestions?

[2022-03-04 20:41] ruida-shen opened #1593 "How to remove outline in input component in iOS browsers?"
## 💬 Question
I use UI Kitten + expo web for my project, when I open my app in ios browsers, e.g. chrome, safari, the text input when focused has this blue outline, for example:

### Chrome:
<img src="https://user-images.githubusercontent.com/75506336/156837622-412e947e-95d5-4836-b6fb-aa760a4c07c6.jpg" width="300" height="600" />

### Safari:

<img src="https://user-images.githubusercontent.com/75

[2022-03-07 07:05] #1564 closed

[2022-03-07 07:07] #1512 closed

[2022-03-07 07:44] #1544 closed

[2022-03-09 10:49] ikkez commented on #1307
It's not an autocomplete issue, i see this problem with normal input forms as well in browsers. Please fix.

[2022-03-09 12:58] brhndursun commented on #1582
+1

[2022-03-09 13:41] sayres commented on #1587
Hi @alexonozor
The main problem that you're using the same `selectedIndex` state for all  `RadioGroup`s.
Possible ways are to use different state values & state handlers, like:

[code]
or

[code]

[2022-03-09 14:01] #1587 closed

[2022-03-10 15:56] aminta commented on #1591
Ok, so I've mapped the code flow and found a solution but I'm asking here if anyone has an idea on how implement it without overwriting the source code.

In `node_modules/@eva-design/processor/js/src/service/style/style.service.js` I've modified function `withStrictTokens` in this way:

[code]

[2022-03-12 05:40] sergeu90 commented on #1569
i have same issue

[2022-03-14 09:01] qbunia opened #1594 "Changing selectedIndex in ViewPager doesnt work"
Changing timelineIndex in setSelectedIndex doenst change page in ViewPager at all.

[code]

[2022-03-14 11:23] Ayush-Navadiya commented on #1594
Have you tried with layout ?
Is it working with layout?

[2022-03-14 13:21] qbunia commented on #1594
No it still doesnt work.

[2022-03-16 13:25] singhmp2k commented on #1518
getting same message 'EventEmitter.removeListener('change', ...): Method has been deprecated. Please instead use `remove()` on the subscription returned by `EventEmitter.addListener`.'  from all inputs.
and keyboard hide while typing when using INPUT in MODAL

[2022-03-17 10:52] siarheipashkevich commented on #932
@cangSDARM did you find a solution?

[2022-03-18 06:30] cangSDARM commented on #932
Forcibly override with `style` : )

[2022-03-18 08:08] siarheipashkevich commented on #932
@cangSDARM per each component? I think it can decrease performance..

[2022-03-20 16:59] FabienDeborde opened #1595 "JSX element class does not support attributes because it does not have a 'props' property"
## 🐛 Bug Report

I am getting an error from typescript compiler on every component imported from this library:
`JSX element class does not support attributes because it does not have a 'props' property`
To be honest I am not really sure it is not due to the monorepo structure or the tsconfig setup but it is the first time I see this kind of error.
The weird thing is, it still compiles while my vsc

[2022-03-22 09:07] #1422 closed

[2022-03-22 10:01] greenafrican commented on #837
Another use case for this is to be able to control the animation ease curve when switching between Tabs in a TabView. I'd like to have some control of the speed an arrival ease as they feel quite abrupt.

[2022-03-24 14:14] sergioutronics opened #1597 "How to: TopNavigation style/appearance transparent"
## 💬 Question
I need to make the TopNavigation bar transparent in one specific "Fullscreen" page,
[like in this print](https://imgur.com/B7ROgml)
But the menu icon must show,
i have tried many number of configs like:
`<TopNavigation appearance="default" style={{background:"rgba(0,0,0,0)"}} alignment='center'/>`
But nothing works
have read in the feature that it is already implemented, can i get gu

[2022-03-25 10:52] anhnch commented on #1252
The mapping is confusing and no complete doc :(

[2022-03-29 01:32] dvdprr6 opened #1601 "Third Party Icons do not render"
## 🐛 Bug Report

Third party icons do not render.
![image](https://user-images.githubusercontent.com/1852283/160513507-0001635a-1ca3-4296-8bc7-abde2ee1a95c.png)

I have followed the Third Party Icon guide found [here](https://akveo.github.io/react-native-ui-kitten/docs/guides/icon-packages#3rd-party-icon-packages),

This is how I am registering the Feather Icons Pack

[code]
This is how I am apply

[2022-03-29 20:23] sergeu90 opened #1602 "Perfomance issue on android device."
Hello everyone. Thanks for the library.

## 🐛 Bug Report

I wrote app base on your library. But it is work good on new devices and more powerfull but on the old devices  i noticed very slow perfomance. Navigation beetween sreens take abouut 1-2 seconds.

[on the p](https://www.amazon.in/Lenovo-Tab4-10-Tablet-Wi-Fi/dp/B075T1YTR9)

I tested your https://play.google.com/store/apps/details?id=com.akve

[2022-03-30 08:38] RicardoDolNL opened #1603 "DatePicker short day name in wrong order"
## 🐛 Bug Report

The DatePicke, RangeDatePicker and Calendar have a wrong short day name order when changing to a different locale. In my case Dutch starts its week on a Monday. The calendar week rows dates do start with the date of a Monday but the top row with the short day names does not start with a Monday (but a Sunday). I use momentjs. When I print `moment().format('ddd DD')` I do see the ri

[2022-03-31 17:43] lyqht commented on #1217
still facing the same issue now

<img width="386" alt="image" src="https://user-images.githubusercontent.com/35736525/161117246-87dc4ade-606b-46f1-bcc9-0374b1213c02.png">

[2022-04-01 15:46] logicman opened #1604 "SafeArea in Navigation example does not apply the theme background colour"
## 💬 Question
When using the example on https://akveo.github.io/react-native-ui-kitten/docs/guides/configure-navigation#create-screens the background colour of the SafeAreaView does not match that of the theme. Is this an issue?

![simulator_screenshot_53598B21-E898-4AAD-B4B9-A677F536FA3D](https://user-images.githubusercontent.com/449627/161297651-34a0fc29-7434-4f3a-906d-23f196e2a2cb.png)

## UI K

[2022-04-01 15:51] CTKS opened #1605 "Getting Started Guide Malformed JSON Example"
## 🐛 Bug Report

The "Manual Installation" section of the "Getting Started" guide in the docs contains a malformed JSON example.

Note the missing bracket at the end of the JSON block.

## To Reproduce

Steps to reproduce the behavior:

1. Navigate to the [Getting Started > Manual Installation](https://akveo.github.io/react-native-ui-kitten/docs/guides/getting-started#manual-installation) guide in

[2022-04-01 16:33] lyqht commented on #1424
Would love to see this too!

[2022-04-01 23:48] proffnick commented on #1392
If your component is inside ScrollView component, and you come across this behavior, add this `keyboardShouldPersistTaps={true}` to the ScrollView.

[2022-04-04 05:58] richardhaddadau commented on #1603
Hi Ricardo,

I'm not sure if this may fix your problem as I can't see your entire code but in the docs for the calendar, it says to specify the dayNames as well as the startDayOfWeek.

[code]

Perhaps check that out and see. In the sample code above, the array of the day names starts on Sunday so when the startDayOfWeek is set to 1, the calendar shows Monday first.

Does that fix it for you?

[2022-04-06 18:51] swizes opened #1607 "Custom mapping with metro config"
## 💬 Question

In your guides, it is encouraged to inject mapping in the metro confing as mentioned in below code block.

[code]

I would like to add the mapping in to the **ApplicationProvider** and still use the metro config feature, what are the down sides?

Just FYI, the reason i want to do is that i want to make font sizes and others responsive like for example

[code]

I can't use the rem va

[2022-04-07 15:44] emiljano17 commented on #884
how did you deal with this error?

[2022-04-08 10:07] tinvujasinovic commented on #1582
+1, at the moment were hacking this, using placeholder to show the selected month name and rendering a TouchableOpacity in the renderMonth prop to be able to close the calender on press and return the value
![image](https://user-images.githubusercontent.com/37039349/162414444-b24a5a16-a871-447c-a3b2-5d08a9ed159a.png)

[2022-04-11 15:21] xydian commented on #1595
did you make any progress on this? I have the same issue

[2022-04-12 05:15] jgudo opened #1609 "Custom mapping of fonts not applying to heading category (h1-h6)"
## 💬 Question
Custom mapping of fonts are not applying to only heading categories (h1-h6). I'm not sure whether this is a misconfiguration on my custom mapping. Could you help me out on this configuration? I'm having hard time trying to wrap my ahead round custom mappings documentation.

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |

[2022-04-14 12:26] isaachinman commented on #1609
@jgudo How did you discover the correct format for custom mapping? Are there TypeScript definitions, or a schema somewhere?

[2022-04-14 12:37] jgudo commented on #1609
@isaachinman You can look up at the main mapping source file in  ```node_modules/@eva-design/eva/mapping.json```

From there you can copy-paste the component mapping you would like to modify.

[2022-04-14 20:36] Rubioli opened #1610 "Hide BottomNavigation on active keyboard"
In my login page I've used `BottomNavigation` and I want to hive the bottom navigation when the keyboard is active. I've tried with `tabBarOptions={{ keyboardHidesTabBar: true }} ` with no luck.

Below is my complete page code:

[code]

Any help is much appreciated!

Packages versions:
[code]

[2022-04-15 14:05] NIDHINgl opened #1611 "UI kitten view pager"
## 💬 UI kitten view pager scrolling entire tabs, for example, I'm using two tabs, focused on the first tab scrolling content after scrolled up to some point when I move to the second tab, that tab also scrolled, how to maintain scroll state tab vise

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |        |
| @ui-kitten/components   |

[2022-04-17 20:58] omeranar1 opened #1612 "Put Colored Image in 'Select' ?"
## 💬 Question

How can i put colored image in "Select"

![image](https://user-images.githubusercontent.com/19305324/163731732-d19b5dda-6b25-43bd-8621-4da009cd912b.png)
![image](https://user-images.githubusercontent.com/19305324/163731775-54b1e444-c579-4304-868d-55334596af61.png)

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |

[2022-04-18 02:42] lawrence615 opened #1613 "TopNavigation Disappearing"
## 💬 Question
I have made a simple app (using expo) by following steps on the official docs.

The app has two screens and each screen has a TopNavigation and Divider, then the rest of the body.

Below is sample code  for DetailsScreen;

[code]

Problem is the TopNavigation is disappearing/hiding at the top.

![screenshot](https://user-images.githubusercontent.com/3224157/163745434-9d05563b-1f5b-45

[2022-04-18 13:02] soltaneben opened #1614 "Error while using third party icons"
## 💬 Question

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      | ^2.1.1  |
| @ui-kitten/components   |   ^5.1.2      |

Hello, I'm trying to implement a third party icons package (Feather/Fontawesome), I copied the exact example mentioned in the official documentation, and when I try to use the Icons I get this error :
### TypeError: un

[2022-04-19 13:04] mbyrd123 commented on #1595
I am also experiencing this issue in my  react native/typescript application

[2022-04-20 06:05] artem-tarasenko commented on #1589
Have the same situation but win expo managed project. Wanted to try out this lib but stuck as soon as I've finished "Getting started" in the docs.

[2022-04-21 16:17] shamaz332 commented on #996
change react-scripts version in package.json to "react-scripts": "^4.0.3" . create-react-app is not pulling the correct version that's why you are facing this issue.

[2022-04-23 10:48] rayhk6 opened #1616 "Style Mapping for SelectItem"
## 💬 Question
When I tried to customize the style for SelectItem , it shows the below error.

`TypeError: Cannot convert undefined value to object

This error is located at:
    in ApplicationProvider (at App.js:54)
    in ApolloProvider (at App.js:53)
    in EnsureSingleNavigator (at BaseNavigationContainer.tsx:430)
    in BaseNavigationContainer (at NavigationContainer.tsx:132)
    in ThemeProvi

[2022-04-24 12:31] HernandezDev commented on #1610
I'm also having this issue, did you find a work around?

[2022-04-24 12:43] rayhk6 commented on #1242
Do you know how to customize the picker background color? I don't know where I could find the component name. Thanks
<img width="366" alt="Screenshot 2022-04-24 at 8 43 13 PM" src="https://user-images.githubusercontent.com/13505570/164977129-8084d36b-0926-429e-854c-f0ce7062b7c8.png">

[2022-04-24 18:36] Rubioli commented on #1610
nope still waiting for any response or any answers somewhere out there

[2022-04-25 08:11] rayhk6 commented on #1616
At the end, I changed the "SelectItem" to "SelectOption"

For someone who doesn't know how to find the component name:
https://github.com/akveo/react-native-ui-kitten/issues/1609#issuecomment-1099142025

[2022-04-25 08:11] #1616 closed

[2022-04-25 09:04] rayhk6 opened #1617 "Error when using custom mapping on Typescript"
## 🐛 Bug Report

## To Reproduce

Steps to reproduce the behavior:
using custom mapping

## Expected behavior
no error message

## Link to runnable example or repository (highly encouraged)
<img width="613" alt="Screenshot 2022-04-25 at 5 01 59 PM" src="https://user-images.githubusercontent.com/13505570/165056922-39059c84-5656-41dd-abe7-8b9de266d73a.png">

`{
  "components": {
    "Input": {

[2022-04-27 08:51] Joeao commented on #1314
Also experiencing this when using `accessoryRight`. The workaround above is good in some circumstances, but managing refs for each input can be messy with repeated use of the same component.

I would say that https://github.com/akveo/react-native-ui-kitten/issues/1422 is somewhat related as it deals with focus state on other components around the input.

[2022-04-29 05:16] alwye commented on #1610
You can try using something like this. I'm using it in my app to hide the header instead.

If you know how to add an easing transition here, please share :)

`
import * as React from 'react';
import { Keyboard } from 'react-native';

const ScreenHidingHeader = ({ navigation }) => {

  const [isKeyboardOn, setKeyboardOn] = React.useState(false);

  React.useEffect(() => {

    const showSubscriptio

[2022-04-29 23:26] Codelica commented on #945
This can be a difficult limitation to discover, and ends up affecting a number of components (select, popover, overflow, etc) when used on a React Native modal.   Simple tossing a `ModalPanel` wrapper under RN's `Modal`  (as one issue suggests) does allow the elements to display, but can also create issues with other elements present behind the modal.  It's not the answer.

I'd be eternally gratef

[2022-04-30 03:42] lyqht opened #1618 "How do I load dynamic custom mapping for font sizes?"
## 💬 Question

Hello there, recently I faced an issue due to native font scaling setting on my mobile app.

<img width="958" alt="Screenshot 2022-04-30 at 1 40 07 AM" src="https://user-images.githubusercontent.com/35736525/166089063-e284c5bd-0f73-471e-9883-2bc07b928a28.png">

On the left, it is default font size on iOS simulator.
On the right it is the 'Largest' font setting set by user on their m

[2022-05-01 17:34] omeranar1 commented on #1612
solved
[code]

[2022-05-01 17:34] #1612 closed

[2022-05-03 12:28] swizes commented on #1618
I can verify that there is no workaround for this use case and it makes whole usage of UI Kitten a bit obselete. I can't make paddings, margins, radius sizes etc. responsive with using eva metro config

[2022-05-05 12:16] flexbox commented on #1595
I am experiencing the same messages — they are on all `ui-kittens` components
[code]

I think it's related to the typescript config mine is

[code]

[2022-05-05 14:01] flexbox commented on #1595
This was bugging me so I created a new project with KittenUI template
[code]

After digging on `package.json` I aligned the versions

[code]

I fixed the problem on my stack
<img width="407" alt="image" src="https://user-images.githubusercontent.com/360936/166938944-ede21164-b170-4d17-ba2b-44270fd1ee80.png">

[2022-05-05 14:08] flexbox commented on #1611
Hey @NIDHINgl
Can you put some effort into your issue?
It's hard to understand your problem 😅

Provide some screenshot, you can use [excalidraw](https://excalidraw.com/) or even better an online example with https://snack.expo.dev/

[2022-05-05 14:17] flexbox commented on #1613
Hey @lawrence615

I never use `SafeAreaView` from `react-native` because there are not enough features.

You should investigate on migrating to
https://github.com/th3rdwave/react-native-safe-area-context#api

My component looks like this

[code]

If your problem is solved can you please close the issue?
It sparks joy for maintainers ✨

[2022-05-06 21:28] Codelica commented on #1595
Considering 3.8 is a couple years old, hopefully some TS wizard can move things to 4.x.  :)  Expo currently includes 4.3.5.

[2022-05-09 12:24] xydian commented on #1595
This issue appears because @types/react-native does have an peer dependency to @types/react of *. Hence two different versions are installed (you can find out by running `yarn list @types/react`). As far as I understand this should be covered by yarn deduplicate, I don't know why that is not the case. But you can fix this by specifing the specific version that should be defined by using resolution

[2022-05-09 16:37] Codelica commented on #1595
@xydian you are my hero for the week 👍  That is odd, but great work tracking it down!

[2022-05-11 10:09] Hearion opened #1619 "Comments on react native UI kitten"
There is a lack of more detailed data entry and display.
I hope he can become a UI library that can support an entire project.
I think it's very good. Will Chinese documents be launched in the future?

[2022-05-12 15:25] flexbox commented on #1619
Hey @Hearion
Have you tried to explore https://github.com/akveo/kittenTricks ?

What kind of example do you have in mind?
Feel free to share a screenshot OR write an example on https://snack.expo.dev/

[2022-05-12 15:30] flexbox commented on #1618
But you can use another library for that :)

I am successfully using https://github.com/Shopify/restyle to tackle these issues in colocation with KittenUI

Here is an example of my `ThemeProvider.tsx`
[code]

- **KittenUI** control all components
- **restyle** for all things related to layout, positions, padding, margin, responsive

[2022-05-12 15:37] flexbox commented on #1584
Hey @andrisole92
Thank you for this well-written issue with a clear example of what you are trying to achieve 😉

Here is my answer
https://reactnavigation.org/docs/tab-based-navigation/#add-badges-to-icons

If your problem is solved can you please close the issue?
It sparks joy for maintainers ✨

[2022-05-12 15:39] flexbox commented on #1588
Hey @DiogoRio

what's your output of

[code]

https://reactnative.dev/blog/2019/11/18/react-native-doctor

[2022-05-12 15:41] flexbox commented on #1585
Hey @sergeu90

What kind of `Modal` are you trying to use?
Because there are plenty of libraries for that 😄

[2022-05-12 15:42] flexbox commented on #1583
Hey @Lester016

Do you have a screenshot for this issue?

[2022-05-12 15:44] sergeu90 commented on #1585
Modal from react ui kitten

[2022-05-14 12:36] Ferraah commented on #1501
Same here, still not solved

[2022-05-18 16:29] Nixxen commented on #1585
Can confirm this is an issue.

Had a logout component that consumed a useContext within a standard react native modal. This was working fine.
Replaced the modal with a UI kitten modal during a cleanup, and the logout component lost access to the useContext. It defaults to an empty context.
The component that contains the modal itself can still access the useContext data.

[2022-05-18 17:22] nithinbabusage commented on #1289
Hi @doanxuanhung1997 @volkan-a @artyorsh
I am getting the error of the unable to resolve dependency tree
node_modules/semantic-release
npm ERR!   semantic-release@"^17.4.7" from the root project
and I tried the above command of the npm install --save --legacy-peer-deps and also npm install --force, and npm cache but still i get the same error not sure how to solve it

Kindly help.. attaching the s

[2022-05-18 21:51] varuntbol commented on #1234
is there any resolution for this issue?

[2022-05-20 05:22] SuperKXT opened #1620 "Button doesn't have the focus method"
## 🐛 Bug Report

The Button component can not be focused on programmatically. The focus method is not available. The Button uses TouchableOpacity which does have a focus method.

## To Reproduce

Steps to reproduce the behavior:
1. Assign a ref to a button.
2. Try to focus the button programmatically.

## Expected behavior

The expected behavior would be to have the focus method available on the c

[2022-05-20 13:14] nafplann commented on #1617
try this
`customMapping={{ ...eva.mapping, ...customMapping }}>`

[2022-05-22 23:10] pushparajsamant opened #1621 "Radio Group has issues with having wrapping views for a radio"
## 🐛 Bug Report

A radio button inside a radio group only works if its standalone and not if its wrapped by a view for styling. By working I mean its clickable.

## To Reproduce

Steps to reproduce the behavior:

Wrap a radio inside a radiogroup with a plain view and it will stop working

## Expected behavior
The radio button should be clickable if we wrap it with a view

## Link to runnable examp

[2022-05-23 22:58] #1621 closed

[2022-05-26 08:07] swizes commented on #1618
You can't use customMapping in "KittenProvier" if you are using @ui-kitten/metro-config. The issue is about using @ui-kitten/metro-config and applying a custom mapping with dynamic values based on screen dimensions. Since you apply mapping during build. You have no idea about the screen dimensions.

[2022-05-29 08:08] valinaga commented on #1618
I think you can still be able to do it with restyle, however need to ignore ui-kitten text mapping and use restyle variants instead.
That's because the restyle theme is a .js file instead of ui-kitten which is a json one.
You can take inspiration from [here](https://github.com/Shopify/restyle#implementing-dark-mode) on how to add dynamic style in restyle theme.
Hope this helps.

[2022-05-29 21:03] swizes commented on #1618
This requires to apply "restyle" to all components (Input,Text,Button,Select etc.) and it defeats the purpose of using an UI Kit. But thank you for the suggestion and i will definitely look into restyle, it might help me while I am building my own basic ui boilerplate code.

[2022-05-30 16:25] lyqht opened #1622 "DatePicker component running off the screen"
## 💬 Question

Hello there UI Kitten folks, I would like to use UI Kitten's DatePicker component. However, I encounter the following issue where the popup modal runs off the screen if the input component is not placed aligned left or right of the screen.

e.g. in the following screenshot, the datepicker popup runs off the screen if you click the start date input, but appears ok if u click on the e

[2022-05-30 20:39] manuelmhtr commented on #1518
This is merged now. Upgrade to v5.1.2 and the warning should disappear.

[2022-05-30 22:49] Henson-Kudi commented on #991
I face same issues with vue js. Any recommendations? Please.

[2022-06-02 08:59] petrusek commented on #1501
I had the same issue on Android for buttons - using font weight different than "normal" will cause the font family to be different...

I've found more issues related to this:
- https://github.com/eva-design/eva/issues/80
- https://github.com/akveo/react-native-ui-kitten/issues/1399
- https://github.com/akveo/react-native-ui-kitten/issues/1387

As suggested above (and elsewhere) it can be solved wi

[2022-06-04 08:48] ffMathy commented on #1044
I would also like this. MenuGroup is for selectable items. An accordion is just for hiding some details, but not for selecting. It is super common for accordions to appear in UIs. It's such an essential UI component.

[2022-06-08 01:45] NicolasPotierA opened #1623 "Possibility of hiding the months, days or years according to business"
## 🚀 Feature Proposal

Make the DATEPICKER component can hide some view regarding the year, month or day, but that it follows the sequence, and only returns the selected date or that it concatenates it with the current one, since in the end I am only going to search and use the date chosen

## Motivation

The motivation for this is the need for functionalities in the date component so that it does

[2022-06-09 20:44] jessegong37110 commented on #1501
Same here, any solution now?

[2022-06-12 03:47] lyqht commented on #1622
Decided to just use the RangePicker component from the library instead. Closing the issue.

[2022-06-12 03:47] #1622 closed

[2022-06-13 11:07] mohamadmek opened #1624 "day 31 is being displayed as 1 in the calendar in which will cause a duplicate in 1 when the month is 31 days"
## 🐛 Bug Report

 there is a duplicate for the 1st day of each month

## To Reproduce
![image-20220610-091638](https://user-images.githubusercontent.com/45299765/173333201-68649e3f-67f5-4ee4-9cce-16e0837dfd46.png)

 when you press on the right-chevron to change to next month there is a duplicate for the 1st day of each month if it's didn't appear just change it a couple of times

## Expected behav

[2022-06-13 13:28] #1624 closed

[2022-06-16 07:18] allenalston opened #1625 "Icon in caption not work"
When I use Input caption api, I want to use icon in the renderCaption, but not shown.

This is my code:

[code]

[code]

<img width="375" alt="image" src="https://user-images.githubusercontent.com/18042277/174016090-6b279f91-b184-42c2-957c-a01d72043876.png">

This is the result:

![image](https://user-images.githubusercontent.com/18042277/174014391-18776c02-9ee9-4301-97af-b9ff7e238963.png)

[2022-06-17 01:44] gavingolden opened #1626 "Can I look up a built-in style for a ui-kitten component?"
## 💬 Question

I'm using a third-party component library that allows me to style the component via props (but I can't override the component type).

Is there a hook to lookup the entire style for a built-in kitten component (e.g. `Input`)? Something like:
[code]

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |    2.1.1    |
| @ui-kitt

[2022-06-22 08:53] kbqdev opened #1627 "Update package react@^17, react-native-svg@12.3.0 to resolve conflict when run npm install."
Please update package react@^17, react-native-svg@12.3.0 to resolve conflict when run npm install.

[2022-06-26 14:28] dasler-fw commented on #892
<img width="353" alt="image" src="https://user-images.githubusercontent.com/33331165/175819120-9fd0e3db-084c-417b-a827-b9d8e8b816b6.png">

[2022-06-30 04:40] phucngoZigvy opened #1628 "Autocomplete Simple Usage and Autocomplete Handle Keyboard examples pick the wrong item onSelect"
## 🐛 Bug Report

## To Reproduce

Steps to reproduce the behavior:
- With 2 examples mentioned, type "st" then choose Interstellar as it's the 2nd item, the value will be "Back to the Future"?
## Expected behavior
- It should be Interstellar

## Link to runnable example or repository (highly encouraged)
- https://akveo.github.io/react-native-ui-kitten/docs/components/autocomplete/overview#autocomp

[2022-06-30 04:53] phucngoZigvy commented on #1628
I found the cause, you initialized onSelect like this
`const onSelect = (index) => {
    setValue(movies[index].title);
  };`
while it should be
`const onSelect = (index) => {
    setValue(data[index].title);
  };`
you forgot that the state **data** is what we need, not the **movies** as it's const and won't be updated no matter what

[2022-06-30 09:41] flexbox commented on #1511
Hey @VictorACH

This issue seems a bit old. Have you tried the last version?

If your problem is solved can you please close the issue?
It sparks joy for maintainers ✨

[2022-07-02 07:47] AtifShahzed opened #1629 "Compatible with React Native Web"
## 💬 Question
Hi,
I am in love with this library, my question is can we use this library with REACT NATIVE WEB ?
## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |        |
| @ui-kitten/components   |         |

[2022-07-04 22:33] parsa-j42 opened #1630 "Creating a new project fails"
## 🐛 Bug Report
Creating a new Project fails using the command provided in the docs (only for JavaScript projects, creating a TypeScript project doesn't have a problem). The created project is incomplete and the following error is thrown:
[code]

## To Reproduce

Steps to reproduce the behavior:
Run `npx react-native init MyApp --template @ui-kitten/template-js`

## Expected behavior

A new UI Kit

[2022-07-05 07:49] #1163 closed

[2022-07-07 01:00] TechSaq opened #1631 "Floating label TextInput"
Library is missing a common variant for TextInput.

Library should provide a Floating Label Text Input.

Please check the codepen for demo.

[Floating Label Input demo](https://codepen.io/AdrianBece/pen/KKKZQOY)

Please add this variant. Thanks.

[2022-07-17 17:43] AnkittSharmaa commented on #996
[code]

I am getting this error in my console.

[2022-07-18 06:18] harryy2510 commented on #996
Are you trying to use `h2` in react native code?  🤔

[2022-07-18 06:19] harryy2510 commented on #996
Did you try this?
https://github.com/akveo/react-native-ui-kitten/issues/996#issuecomment-645448007

[2022-07-20 02:58] TechSaq opened #1633 "How to pass any variable to StyleService.create?"
Hello,

Is it possible to pass any `variable` to `StyleService.create` so that we can applying conditional styling or pass the prop value to styles?

Please check below code for more clarity.

![image](https://user-images.githubusercontent.com/28209930/179886080-ae2a0cf3-017b-4071-b903-c6f0a7b72270.png)

For my use case, I want to pass the `size` prop to `StyleService.create` and give the fontSize

[2022-07-20 03:15] TechSaq opened #1634 "Text, Icon and maybe other components are not responsive."
`Text` and `Icon` are not responsive according to different devices.

In iPad, `Text` looks small and if I add responsive font size to `Text` then `Icon` beside `Text` doesn't looks good.

![image](https://user-images.githubusercontent.com/28209930/179888348-718d300d-2a1e-4623-b017-513f8b9d6d78.png)

![image](https://user-images.githubusercontent.com/28209930/179888465-85ba710b-b57a-40d0-8dba-7a96

[2022-07-20 11:16] kockok commented on #53
I am using the latest version `"@ui-kitten/components": "^5.1.2",`, `setNativeProps` property does not work.
<img width="884" alt="Screenshot 2022-07-20 at 7 16 01 PM" src="https://user-images.githubusercontent.com/232541/179969053-d8e6548f-f3e9-4193-b78a-0d3ac567b39f.png">

[2022-07-20 14:28] w1ndyz commented on #1264
i meet the same issue from the demo, how to fix it when i press masking layer, it doesn't close the drawer.

[2022-07-20 14:43] w1ndyz commented on #1264
i have fix it, just use `screenOptions={{ gestureEnabled: true }}`

[2022-07-22 10:34] fatihozkir opened #1635 "Button Unsupported configuration"
## 💬 Question

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |     ^2.1.1   |
| @ui-kitten/components   |   ^5.1.2      |

Hello,
Good day.

We are pretty new on the usage of UI Kitten, upon our custom component implementations we are having the warning for UIKitten button.
Both in our props and UIKitten button's props there are no va

[2022-07-25 14:20] TechSaq commented on #1631
Thahks @joaoGabriel55 It will be really helpful.
I have implemented custom input for it but I would also give try to your solution.

[2022-07-25 14:38] fatihozkir opened #1636 "Lazy Loaded Data on Select/Autocomplete?"
## 💬 Question

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |    ^2.1.1    |
| @ui-kitten/components   |     ^5.1.2    |

Is there any way to load numerous data lazily on Select and Autocomplete components?
The example scenario; as soon as reaching at the end of the options e.g adding 10 more items to the list

[2022-07-25 20:12] DeveloperInside commented on #1013
I'm looking for it for half an hour to the doc, and feeling like going to say -yeah, there it is, but it is really missing component for kitten lib.

[2022-07-27 08:18] celinedupuis opened #1638 "Custom mapping: couldn't find DrawerItem"
Hi,

I wanted to increase the font size and icon size of the **DrawerItem** by using custom mapping, but couldn't find the component in **mapping.json**. How come ?

Note that I tested the custom mapping with MenuItem and it worked fine.

[code]

Thanks in advance!

## UI Kitten and Eva version
| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |    2.1.1    |
| @ui-ki

[2022-07-27 10:11] #1636 closed

[2022-07-28 15:14] flexbox commented on #1629
Hey @AtifShahzed
https://akveo.github.io/react-native-ui-kitten/docs/guides/running-on-the-web#running-on-the-web

TLDR
**yes**

If your problem is solved can you please close the issue?
It sparks joy for maintainers ✨

[2022-07-28 15:20] flexbox commented on #1630
Hey @parsa-j42

Have you run this before?
[code]

You can also debug your computer setup with https://reactnative.dev/blog/2019/11/18/react-native-doctor
[code]

I checked on my machine without problems
![image](https://user-images.githubusercontent.com/360936/181575064-83fa7c34-e681-4fbd-8160-cc9a2dedf4d1.png)

If your problem is solved can you please close the issue?
It sparks joy for maintainer

[2022-07-28 15:23] flexbox commented on #1635
What happens when you spread all the attributes?

Example:
[code]

https://davidl.fr/pattern#spread-attributes

[2022-08-01 08:54] fatihozkir commented on #1635
@celinedupuis
props appearance has the default value which is  'filled', nevertheless still the issue is being persisted.

[2022-08-01 08:55] fatihozkir commented on #1635
I am going to give it a try, thanks a lot

[2022-08-02 08:23] auto-coder commented on #778
Hi @artyorsh , When will you release the date time picker component?

[2022-08-04 07:41] noone-silent commented on #1593
Also happens in Firefox

![grafik](https://user-images.githubusercontent.com/1089817/182791341-1d46368e-258d-40ee-a316-cc5c82bec83f.png)

@eva-design/eva 2.1.1
@ui-kitten/components 5.1.2

[2022-08-04 07:51] ruida-shen commented on #1593
Adding

input:focus { outline:none; }

to my global css style fixes the issue

[2022-08-04 08:06] noone-silent commented on #1593
Please reopen. This is still a bug. Just because you hacked your way through (global style in react-native?), doesn't mean it's fixed.

[2022-08-04 08:07] ruida-shen commented on #1593
I don't think this is a bug, i think it is browser'a default style applied to input element

[2022-08-04 08:09] noone-silent commented on #1593
Yes and this component should render it correctly and disable the outline

[2022-08-04 08:15] ruida-shen commented on #1593
They may intentionally leave it like this for better accessibility, but I will reopen the issue and wait for the official response

[2022-08-04 11:01] Matyno opened #1639 "Adjust animation duration of ViewPager"
## 🚀 Feature Proposal

Adjusting the animation duration of the ViewPager change index animation as a prop.

## Motivation

For my app the 300ms feels a bit laggy and slow, if i could adjust it with a prop i could customize the ViewPager to fit my app better.

## Example
[code]

[2022-08-08 15:40] woltob opened #1640 "Support React Version 18 and React Native 0.69 (latest), especially in conjunction with expo SDK 46."
Hello,

I was wondering when this library will support later versions for React and React Native and what the update timeline for this is.
Looking at the package.json (https://github.com/akveo/react-native-ui-kitten/blob/master/package.json) I see the following versions being enforced:

[code]

Are there any known issues using this library with React v18 and React Native 0.69, especially with the

[2022-08-09 20:43] parsa-j42 commented on #1630
@flexbox
Hmm, I just re-ran the command, and it worked, I don't have any idea what the issue was the last time.

Thank you for your response, I will close the issue.

[2022-08-09 20:43] #1630 closed

[2022-08-10 10:00] shaoming1101 opened #1641 "请问,日期选择器怎么修改成中文?"
## 💬 Question

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |        |
| @ui-kitten/components   |         |

[2022-08-12 11:40] elavneet commented on #1217
I used this to center the content.

[code]

[2022-08-14 16:42] ZoltanSzokodi opened #1642 "react-native run-ios and react-native run-android commands fail"
Hi,

when I try to run `react-native run-ios` or `react-native run-android` from my project folder in VSCode I get the following error:

[code]

However if I start the app in XCode it builds successfully. After some research I found the modifying the _node_modules/@react-native-community/cli-platform-ios/build/config/index.js_ fixes the problem:

[code]
(source: https://stackoverflow.com/questions

[2022-08-14 19:10] Athiban-32 commented on #996
<img width="740" alt="Screenshot 2022-08-15 003934" src="https://user-images.githubusercontent.com/93418753/184551365-910f974e-1a15-44c6-847c-d8c2c222e207.png">

the same error has occurred for me right now !! could you please resolve my bugs so that it would be helpful for me

[2022-08-14 19:14] Athiban-32 commented on #996
Can Anyone say why this error is occurring in the code and I fixed it by adding webpack-config.js after that also the code is showing an error...

[2022-08-17 06:38] ZoltanSzokodi commented on #1642
I think the UI-kitten installation template needs some care. RN 0.64.1 is a bit outdated for a new project. I've upgraded to 0.69.4 and now it's fine.

[2022-08-17 06:38] #1642 closed

[2022-08-17 21:37] SaidTorres3 commented on #1594
Show the hook, too.

[2022-08-22 08:01] woltob commented on #1640
Hi @artyorsh,  @32penkin, @malashkevich,

I've seen you're among the most contributing developers to this library.
Could you provide us with an update timeline for @akveo/react-native-ui-kitten ?

Thank you, this would be appreciated by so many I suppose!

[2022-08-22 09:23] artyorsh commented on #1640
Hi @woltob thanks for the opening a very valid topic.

I'm not directly associated with this project anymore, but I think I can squeeze some time to check if the library is compatible with latest versions of RN/Expo as I'm still using it in a project that I'm currently working on. If you have any progress on it, it would be nice to have someone involved as well (PRs were always welcome).

[2022-08-22 11:51] woltob commented on #1640
Hi @artyorsh,

thank you for the quick response. That sounds awesome, very much appreciated!

Do you know who is currently in charge of the project and is there any timeline for future development?
I believe this is a pretty cool library being used by many developers for active (and also commercial) projects.
Do you know if https://www.akveo.com/ is still actively working with / on this?

Cheers!

[2022-08-22 14:05] artyorsh commented on #1640
I believe yes :) I'll make a heads up to @malashkevich as to the mobile development driver at the company

[2022-08-23 16:53] kssai-62 commented on #1592
+1

[2022-08-24 12:45] BoboJeager opened #1643 "Navigating using TopNavigationAction"
## 💬 Question
I am new to UI Kitten and react and was trying to create a top and bottom nav bar for my app. my bottomtab navigation seems to be working when i follow the documentation but was unable to use the navigation on the TopNavigationAction it gives me the error "undefined is not an object(evaluationg navigation.navigate) will anyone be able to explain to me why this is happening and what i

[2022-08-25 09:07] allenalston opened #1644 "How to custom bottom tab icon with Image?"
## 💬 Question

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |        |
| @ui-kitten/components   |         |

[2022-08-25 11:27] ZoltanSzokodi commented on #1549
Any solution here? I am facing the same issue.

[2022-08-26 12:36] godlikeAlex commented on #1212
Example With react-native-svg-transformer:

`import React from 'react';
import CellPhone from './assets/cellphone.svg';

const IconProvider = (SVGIcon: React.FC) => ({
	toReactElement: ({ animation, ...props }) => <SVGIcon {...props} />,
});

export const AssetIconsPack = {
	name: 'assets',
	icons: {
		cellphone: IconProvider(CellPhone),
	},
};
`

[2022-08-26 17:56] mweel1 opened #1645 "ListItem"
If I need to put structure in a list item, how do I use something besides Layout?

When I use Layout, when I press the list item the layout elements don't highlight.

[2022-08-29 08:19] Valar103769 opened #1646 "drawer and drawerItem is not validate in @react-navigation/drawer"
https://github.com/react-navigation/react-navigation/issues/10799

i think it's ui-kitten 's bug, because of  i replace `@ui-kitten/components` to `react-native-paper`, the problem misappear
[code]
import { DrawerContentComponentProps } from '@react-navigation/drawer'
import { FC } from 'react'
import * as React from 'react'
import { Avatar, Drawer, DrawerGroup, DrawerItem, Icon, Text } from '@ui-

[2022-08-29 09:31] elmurci opened #1647 "Open DrawerGroup by default"
## 💬 Question

Is there any way to have a `DrawerGroup` open by default, or programmatically?

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |   5.0.0     |
| @ui-kitten/components   |  5.0.0       |

[2022-08-29 10:46] Valar103769 opened #1648 "Menu or Drawer component can not be according on pageinit"
[code]

these component is invalid when project start, bug it normal when modily component, like add new Item to menu, the newitem is correct, and oldMenu is invalid

<img width="475" alt="image" src="https://user-images.githubusercontent.com/36926073/187183936-e661958d-b203-4aa0-8af4-b27760d14fdf.png">

HomeScreen
[code]

SideMenuDrawer
[code]

[2022-08-29 12:21] Valar103769 commented on #1648
@artyorsh

[2022-08-29 12:44] woltob commented on #1640
HI @malashkevich  and @artyorsh,
just wanted to quickly check in again if there is any news on this topic?
Thanks!

[2022-08-29 12:49] Valar103769 commented on #1625
maybe this project had dead

[2022-08-29 23:24] davidjuhyung commented on #552
+ 1

Alert dialogs are essential for any app, as it's often the practice to ask for confirmation "Do you really want to delete this" before the actual deletion happens.

[2022-08-30 01:19] Valar103769 commented on #1641
没人回复 这个项目怕是凉了

[2022-08-30 06:05] Valar103769 opened #1650 "siome api migrate rn 0.69.5"

[2022-09-03 19:56] Rubioli opened #1651 "Layout height doesn't cover the whole page"
## 💬 Question

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ----------- |
| @eva-design/eva      |  2.1.1      |
| @ui-kitten/components   |  5.1.2   |

In my application, in the simulator, everything is fine design-wise, but in my actual device, the height of the page is wrong and/or that the page has this gray background.

How can I add a global background to my app o

[2022-09-06 07:54] ShubhamBathe-KM commented on #1592
@kssai-62  Still no solution I am still waiting for someone to provide the same. @artyorsh Can you ask the team to please look into this issue on immediate basis? Thanks for the same.

[2022-09-07 14:44] mzeesha commented on #996
![Module Parse Failed Error! ](https://user-images.githubusercontent.com/101974988/188907289-0761da7f-bb11-47f6-ac6a-9c48e1f6c447.png)

[2022-09-07 14:47] mzeesha commented on #996
I have stuck with the module parse failed error while adding Toast-Notification in my react-app.
Please help me out! if anyone has any idea about handling this error

[2022-09-11 17:44] Alex-Cannon commented on #1651
I noticed this as well. My solution was to add these styles to the Layout component:
[code]

I don't know enough to know if this is actually an issue with UI kitten or not. But this worked for me. :)

[2022-09-12 13:21] #1586 closed

[2022-09-14 17:53] mweel1 opened #1653 "Sizing Radio Button"
Is there any way to size a radio button?

[2022-09-14 19:39] OziTFA commented on #1287
@perry-mitchell maybe better to set 0 when hide;

`  const hideListener = Keyboard.addListener("keyboardDidHide", e => {
            setKeyboardSize(0)
        });`

[2022-09-17 04:06] kingjamesegun commented on #1595
any help here pls?

JSX element class does not support attributes because it does not have a 'props' property.ts(2607)

[2022-09-20 02:48] timurcatakli commented on #1511
This issue still persists...

[2022-09-20 23:42] timurcatakli commented on #1447
Did you switch to Yarn? Did it fix?

[2022-09-26 12:32] keithwcl08 opened #1654 "Range Calendar with Filter"
I need a range calendar that allows me to block off certain dates (think AirBnB where some dates might not be available).  Simply adding a filter function to the Range Calendar does not seem to work, however.  For example, if I block off January 10, the user can still select January 8-11.  They just cannot use January 10 as the start or end date.  Am I just implementing the filter function incorre

[2022-09-26 14:54] woltob commented on #1640
Hi @malashkevich  and @artyorsh,
any updates on this topic?
Thanks!

[2022-09-28 15:03] malashkevich commented on #1640
Hey @woltob.

Yeah, sorry for the delay. We were quite busy with other projects. But we started to work on UI Kitten again.
We will take a look at it soon.

[2022-09-30 12:31] adrihegg commented on #1585
I have the same issue, i cant use components with useSelector inside the modal.

`I get the error 'could not find react-redux context value; please ensure the component is wrapped in a <Provider>`

[2022-10-04 13:34] hoangquocan opened #1656 "UI Kitten TopBar with indicator below"
Hi! Can anyone help me with issue?
I want create Topbar with Indicator below Text but default it position on Text like this
![Screenshot from 2022-10-04 20-23-06](https://user-images.githubusercontent.com/105065106/193832693-d6daf97e-e090-4956-9ab4-d630186d36bb.png)

Expect it

![Screenshot from 2022-10-04 20-24-19](https://user-images.githubusercontent.com/105065106/193833215-3bf11c15-bdf2-4bef-9

[2022-10-06 14:05] kendrickw commented on #1656
This seems to be a change in behaviour?  If I downgrade to v5.1.1, the tab indicator is positioned below the text (as expected)

[2022-10-10 14:52] deepakkumardk commented on #1543
Hi @nyoung697 can you please update here, how you do it, is it using mapping.json file or from the custom component.

[2022-10-10 17:30] exzos28 commented on #1265
Any updates?

[2022-10-11 13:35] exzos28 opened #1657 "Does anyone support the project?"

[2022-10-17 07:33] malashkevich commented on #1657
Hello @exzos28
Let me answer this one.

The project is maintainable, but in slow mode. The reason behind it that in our company (Akveo) we do not have dedicated person who works on this project fulltime. So sometimes there might be large pauses between activities.

We are trying to figure out the better way to provide a support, but at the moment it will stay as is.
We are sorry about that.

[2022-10-17 07:33] #1657 closed

[2022-10-17 09:03] #1342 closed

[2022-10-17 09:04] #1218 closed

[2022-10-17 09:10] malashkevich commented on #1492
@iabadie-dataart I guess the only way to get this work is to create your own component. At the moment its not possible to add the new properties in existing types. We will think about this.

[2022-10-17 09:10] #1492 closed

[2022-10-17 09:10] #1495 closed

[2022-10-17 09:19] malashkevich commented on #1653
Hello @mweel1,
Yes, that's possible if I get you right.
You can override mappings for Radio component like described [here](https://akveo.github.io/react-native-ui-kitten/docs/design-system/customize-mapping#customize-component-mapping)

[2022-10-17 09:19] #1653 closed

[2022-10-17 09:20] malashkevich commented on #1651
@Rubioli could you plesase share the code for the page you are using?

[2022-10-17 09:24] malashkevich commented on #1645
@mweel1 in documents we have an example of the custom list item.

[code]

[2022-10-17 09:24] #1645 closed

[2022-10-17 09:25] malashkevich commented on #1644
@allenalston could you please provide more information/code?

[2022-10-17 09:27] malashkevich commented on #1641
@shaoming1101 in docs there is an example of localizing the calendar.
Just replace the values with any language.

[code]

[2022-10-17 09:27] #1641 closed

[2022-10-17 10:33] malashkevich commented on #1638
@celinedupuis it's because the Drawer [using MenuItem as DrawerItem](https://github.com/akveo/react-native-ui-kitten/blob/master/src/components/ui/drawer/drawerItem.component.tsx)
So the best way is to change the mapping for `MenuItem`. You could also add a new appearance just for drawer.

[2022-10-17 10:33] #1638 closed

[2022-10-17 16:35] greenfrvr commented on #1648
@Valar103769 can you please share more details, what's the issue here? it's not clear from description and screenshot what exactly is invalid on project start.

[2022-10-18 07:12] ShubhamBathe-KM commented on #1592
@greenfrvr Initially I also though the same that there might be some additional styles in my main project. Thats why I created a bare new react native project setup and tried implementing the select component in it. So as you can see the second screenshot I shared is the one from the newly created react native setup with absolutely no other styles. Maybe I can share my compressed project setup wit

[2022-10-18 12:50] greenfrvr commented on #1592
@ShubhamBathe-KM if you could share a project where the issue is reproducible it would help a lot!

[2022-10-19 06:17] ShubhamBathe-KM commented on #1592
@greenfrvr I checked with the latest react native version. Not able to reproduce the issue now. I think you can close the issue for now.

[2022-10-20 06:56] #1592 closed

[2022-10-20 14:23] adrihegg opened #1658 "Screen reader reads all content inside ViewPager when doing swiping gesture"
## 🐛 Bug Report

## To Reproduce
Steps to reproduce the behavior:
1. Setup a Kitten UI "ViewPager" component
2. Use screen reader (tested on IOS)
3. Do the swiping gesture (swipe right on the middle of the screen) to search thew all elements in the ViewPager and make the screen reader read them.

## Expected behavior
The Screen reader will read elements on the other pages of the viewpager when doi

[2022-10-20 15:02] TMcLoone commented on #1656
Agree on this, much butter with indicator below

[2022-10-21 08:25] Choyeongdeok opened #1659 "how to add custom header between autocomplete and autocompleteItem"
current behavior
(the orange header is included in Autocomplete scroll, and onselect function not working in this case)

![current](https://user-images.githubusercontent.com/54658590/197145117-be42c06a-ced8-4723-b985-f13c0677bcdb.png)

how can I fix the header top of the Autocomplete item out of scroll?

[2022-10-24 00:47] #1659 closed

[2022-10-24 08:45] adrihegg commented on #1658
Found a workaround which solves the issue, but i have to implement it for every ViewPager i use.

`
<ViewPager selectedIndex={tabIndex}>
    {viewTaskModalData.map((element, index) => (
        <View
            key={element.key}
            accessibilityElementsHidden={tabIndex !== index} // IOS
            importantForAccessibility={tabIndex !== index ? "no-hide-descendants": "yes"} // Android

[2022-10-26 14:49] greenfrvr commented on #1647
@elmurci there is pull request #1389 it will allow to set drawer group to be opened by default with a prop `initiallyExpanded`.
I'll close this issue, you can watch PR status to get notified if it was merged.

[2022-10-26 14:49] #1647 closed

[2022-10-27 08:03] universegalaxy1112 opened #1661 "Can we use react native ui kitten with nativewind?"
[NativeWind](https://www.nativewind.dev/) uses [Tailwind CSS](https://tailwindcss.com/) as scripting language to create a universal style system for React Native.

Can we mix the library with react native ui kitten?

If it's possible what's the potential incompatibility?

[2022-10-27 08:29] greenfrvr commented on #1643
@BoboJeager hey! from what I see, `navigation` prop is expected by `TopBar`, but the value is not passed by anyone. it's not really related to ui kitten it's more about managing navigation in a proper way. you can try `useNavigation` hook inside your `TopBar` component it will give you access to `navigation` entity. I'll close the ticket as it's not related to functionality of ui kitten components

[2022-10-27 08:29] #1643 closed

[2022-10-27 09:38] #1265 closed

[2022-10-27 14:50] sikemullivan commented on #1604
I switched to using the top nav from react navigation. Then switching the theme for react navigation based on the OS theme.

[code]

![image](https://user-images.githubusercontent.com/23320600/198322729-e69245b2-2091-46eb-acab-f0d08b7417ec.png)

[2022-10-28 08:29] #1656 closed

[2022-10-28 08:39] greenfrvr commented on #1625
@allenalston sorry for late response. could you please share `captionContainer` and `captionIcon` styles?

[2022-10-28 09:03] greenfrvr commented on #1625
@allenalston actually I missed one thing. the issue is how you are passing styles to `Icon`. currently you are destructuring style object and pass each attribute as a separate prop. your icon component should like this instead:
`const AlertIcon = style => <Icon style={style} name="alert-circle-outline" />;`

I'm closing the issue, as I checked this on a test project and caption functionality is wo

[2022-10-28 09:03] #1625 closed

[2022-10-28 11:11] greenfrvr commented on #1617
@rayhk6 hey! from your custom mappings snippet it seems that the problem is in your mappings. as I can see `meta` field is empty, which is required to describe parameters which may be configured for current component. please check `CustomSchemaType` type it describes interface expected as custom mappings. also you can check eva default mappings as a reference. perhaps there is inconsistency with d

[2022-10-28 11:19] greenfrvr commented on #1617
@rayhk6 I have checked applying custom mappings with the snippet you had provided and I can confirm that describing mappings properly (e.i. according to declared interface) makes ts validation being correct. we'll check if our docs are outdated for custom mappings, but for now I'll close this ticket.

[2022-10-28 11:19] #1617 closed

[2022-10-30 08:48] junaedsiam commented on #1585
Any progress in this ? Are there any workarounds ?

[2022-10-31 08:29] #1639 closed

[2022-10-31 08:53] Choyeongdeok opened #1663 "how can I remove backdrop in Tooltip while visible is true?"
Even if I set backdropStyle={{display: none, height:0, width: 0}}, I can't press the other button component out of tooltip component while tooltip visible is true. How can I remove backdrop while tooltip visible true?

[2022-10-31 10:07] greenfrvr commented on #1635
@fatihozkir There might be 2 cases: either passed appearance/status/size are undefined or non-null values, which are not described in mappings. From the code snippet it's not clear where default value values for that props are defined, and what exact values are passed to button. Can you check which case do you have? And maybe tell which values are passed to `Button` props?

[2022-10-31 10:15] greenfrvr commented on #1634
@TechSaq do I understand correctly, that the issue appears, when changing font size on a system level? (e.i. Larger Text on iOS, Font Size on Android)

[2022-10-31 10:59] greenfrvr commented on #1626
@gavingolden short answer is no. style usage is a bit more complicated than just getting object by component name as a key. for example for `Input` component there are several variables which defines style object e.i. appearance, category, status and even component state (focused, disabled and etc.) so in fact there are many style objects for each possible configuration of that variables, and ther

[2022-10-31 10:59] #1626 closed

[2022-10-31 11:30] adrihegg commented on #1585
@junaedsiam Does not seem like there are any workarounds. I ended up making my own modal with react native modal and expo blur.

[2022-10-31 12:25] greenfrvr commented on #1620
@SuperKXT can you please describe the use case when you trigger focus method? I know we don't pass ref to `TouchableOpacity`, that's why it's not working. I'm just interested is it used on web or on mobile?

[2022-10-31 12:25] imoempire opened #1665 "Unable to resolve module ./calendar/service/date.service"
## 💬 Question
I am not using any calendar component in my expo project but it
![Screenshot_1667218816](https://user-images.githubusercontent.com/82457401/199007220-5a241252-f62c-4b62-9665-ae1e34703fc6.png)
is showing me this:
Unable to resolve module ./calendar/service/date.service from @ui-kitten\components\ui\index.js:

## UI Kitten and Eva version

| Package      | Version |
| ----------- | ---

[2022-10-31 12:31] SuperKXT commented on #1620
It is used on mobile. As this was a while ago, I can not recall the exact problem I was trying to solve.

[2022-10-31 13:27] mleungwsu commented on #1665
I have the same problem recently after clearing cache and a clean npm install.

[2022-10-31 13:44] greenfrvr commented on #1620
I just tried your example, it seems that method `focus` is presented on all platforms (if cases works fine), but it actually works only on web, e.i. nothing happens when calling it on mobile. on my sample project it even causes crashes.

Do you still have an issue with this functionality?

[2022-10-31 14:33] greenfrvr commented on #1665
@mleungwsu can you please confirm, that development server was started? according to error it might be that it was not. did you executed `expo start` command?

[2022-10-31 14:40] imoempire commented on #1665
Yes I did start the sever

[2022-10-31 14:49] greenfrvr commented on #1604
@logicman if I understood the issue correctly, there is no problem in any sort of functionality . `SafeAreaView` is a container which applies additional paddings which correspond to system elements sizes. `SafeAreaView` is actually not part of UI Kitten library, so to make it match some color from the theme you should manually set desired color via styles. I think the aim of that example was to sh

[2022-10-31 14:51] greenfrvr commented on #1665
@imoempire is it possible to share some sample project where we can try to reproduce the issue? for now it looks that it might be some local issue with dependencies/imports, not sure how can I help at this stage

[2022-10-31 15:05] greenfrvr commented on #1614
@soltaneben can you please check your code snippet, I think `height` is missing in destructuring expression. From what I see the issue appears because you're not passing `style` prop to you `Icon` (here `<Icon  pack='feather' name='home' />`).
so flattening `undefined` value returns `undefined` which you're trying to destructure. so you may want to make a null check or use default values in destru

[2022-10-31 15:11] greenfrvr commented on #1601
@dvdprr6 from what I see, there is an icon pack name missing, so you should pass it explicitly:
`<BottomNavigationTab icon={props => <Icon {...props}  pack={'feather'} name={'facebook'} />} />`

also be careful with destructuring `style` prop in your `FeatherIcon` component. it may cause a crash if you won't pass `style` prop to an `Icon`.

[2022-10-31 15:22] greenfrvr commented on #1594
@qbunia can you please provide some code snippet, which allows to reproduce the issue? I've check on a sample project changing `selectedIndex` makes `ViewPager` to change the page, can't reproduce the issue for now

[2022-10-31 15:24] greenfrvr commented on #1594
@qbunia which version did you use?

[2022-10-31 16:17] SuperKXT commented on #1620
I don't understand what you mean. It works on TouchableOpacity, but not on Button.I have tweaked the example so it actually calls the focus method for both TouchableOpacity and Button. It seems to be crashing on button presses on all platforms.

[2022-10-31 17:01] anhnch commented on #1202
For me, the dropdown list is behind the modal screen
[code]
In this modal screen, I have a form with a Select component. When I press the Select component, nothing appears. But when I drag the modal screen down, the select dropdown is behind.

It'd been fine before I replaced the @react-navigation/stack with the @react-navigation/native-stack.

[2022-11-01 11:38] tomgreener opened #1667 "Disabled multi select item is still selectable"
## 🐛 Bug Report

Disabling a `SelectItem` that belongs to a multi `Select` element does not disable multi select checkbox for row.

https://user-images.githubusercontent.com/19623235/199224503-cb92d923-6eef-4bec-b8da-fa4b14cb76ad.mov

## To Reproduce

1. Create a `<Select multiSelect />` element and fill it with `<SelectItem disabled />`.
2. Open the rendered `<Select />` - `<SelectItem />` text s

[2022-11-01 11:39] tomgreener commented on #1667
FYI my workaround for now is overwriting the onPress event:
[code]

[2022-11-01 11:43] greenfrvr commented on #1620
I've checked the example one more time. I added `onFocus` listener to `TouchableOpacity` and after calling `focus` method via ref `onFocus` callback was called only on web. That what I meant. `focus` method is presented on JS side, but it seems to be it is not implemented for native mobile platforms for `TouchableOpacity` component.
what was your use case of using `focus` method? I'm asking becaus

[2022-11-01 11:59] SuperKXT commented on #1620
If I remember correctly I was trying to focus the submit button if you press next on the last form input.

[2022-11-01 12:35] greenfrvr commented on #1667
@tomgreener thanks for the report!

[2022-11-01 12:46] greenfrvr commented on #1591
@aminta are you trying to create mapping for your custom component? I think current mapping implementation was not designed to be used with nested objects. if you check UI Kitten components, each component which is compound extracts style object for each sub-component from flat object with no nested structures. having nested structures inside mappings may be a nice thing to have, but it will incre

[2022-11-01 13:26] sayres commented on #1585
#1615

[2022-11-01 13:50] #1629 closed

[2022-11-02 09:59] greenfrvr commented on #1558
@bencreynolds sorry for late response. this may be achieved by overriding mappings. here is a [link](https://akveo.github.io/react-native-ui-kitten/docs/design-system/customize-mapping#customize-component-mapping) to documentation describing this process

[2022-11-02 10:06] greenfrvr commented on #1549
@pavitpim40 @ZoltanSzokodi can you please share how are you passing theme configuration to `ApplicationProvider`?

[2022-11-02 10:15] greenfrvr commented on #1540
@Wimmind sorry for late response. can you please describe your use case?
next release we'll deliver new prop for `MenuGroup` component which will allow to make it expanded for initial render. will it match your request?

[2022-11-02 11:05] greenfrvr commented on #1531
@whitestranger7 @dVaytul are you guys sure the problem is in mappings? for me it looks that `size` variant just overrides that font size that you declared in `status` variant group. I think that behaviour is defined by order of variant groups, so the latest one applied can override values of previously applied variants.

can you share more details on this issue?

[2022-11-03 11:00] greenfrvr commented on #1518
It seems the issue was fixed. Closing the ticket

[2022-11-04 10:05] #1640 closed

[2022-11-04 10:14] #1667 closed

[2022-11-08 15:25] sikemullivan opened #1674 ""Select" only renders 5 items"
## 🐛 Bug Report

Can only render 5 items in the Select component.

## To Reproduce

Add Select with more than five SelectItem components.

[code]

<img width="287" alt="image" src="https://user-images.githubusercontent.com/23320600/200605332-c1d94da4-4f42-45ca-acd1-bd3bdf6c90af.png">

## Expected behavior

User can select all of them.

[2022-11-09 00:16] #1674 closed

[2022-11-12 19:56] andela-mallan commented on #929
I wish this component existed. React Native Paper does this so well.

[2022-11-13 20:00] ekokotov opened #1675 "Icon triggers error with tintColor"
## 🐛 Bug Report

## To Reproduce

Steps to reproduce the behavior:
Following code
<img width="563" alt="image" src="https://user-images.githubusercontent.com/11966000/201541751-20cf6c6c-1dc4-414f-86f5-0bc02b3edbb2.png">
triggers error
<img width="446" alt="image" src="https://user-images.githubusercontent.com/11966000/201541660-4aa126a5-d72d-4636-9bb8-de50178d0233.png">
Its something related to ti

[2022-11-14 10:07] flexbox commented on #1661
@universegalaxy1112 yes you can
Here is how you  can mix 2 theme providers (the example is with `@shopify/restyle` but the logic is the same)
https://github.com/akveo/react-native-ui-kitten/issues/1618#issuecomment-1125137347

I guess you will have some issues with dark mode and probably custom fonts but they are not blockers. You probably will need to wrap your own solution and export again compo

[2022-11-14 10:13] #1661 closed

[2022-11-14 10:14] universegalaxy1112 commented on #1661
Thank you, @flexbox

[2022-11-14 12:05] ponikar opened #1676 "Android: UI Kittens takes time to render Components"
## 🐛 Bug Report

ui Kittens takes time to render components on the Screen.

I am using Ui-Kittens with React Navigation Bottom tab navigation. We are experiencing a weird delay of 2-3 seconds when switching between tabs and this is happening initially. (When the screen is not loaded)

This is even happening with static screens in which we are not making any network requests or heavy JS computation

[2022-11-14 14:24] ElectricCoffee opened #1677 "Cannot read property 'routes' of undefined when trying to create a TabBar for top tab navigation"
## 🐛 Bug Report

I'm following the steps outlined in the API docs for the top tabs: https://akveo.github.io/react-native-ui-kitten/docs/components/top-tabs/overview#tabbar, and Metro spits out the following error:

Render Error

Cannot read property 'routes' of undefined

Source

[code]
TabBar.tsx (285:37)

## To Reproduce
This is the code I wrote that broke:
[code]

## Expected behavior
I expect

[2022-11-15 10:26] alpacc opened #1678 "`template-js` doesn't seem to work?"
I followed the simple new app instructions [in the docs](https://akveo.github.io/react-native-ui-kitten/docs/guides/getting-started#new-apps) but when I `run-android` I get the following error:

[code]

I tried changing the `targetSdkVersion` in build.gradle but then I got this error:
[code]

I tried fixing that one for a while but this a self-contained template that should just work without any c

[2022-11-15 14:46] AndreiPirovich opened #1679 "Upgrading RN to 0.70 version"
## 🚀 Feature Proposal

Need to update RN to last available version.

[2022-11-16 04:31] Applizone commented on #1417
Agree. Even I set the size of the ```<Select size='small' />```, the ```<SelectItem />``` dropdown listing is still on default size.

[2022-11-16 06:44] Choyeongdeok opened #1680 "Different height of Input Component between ios & android"
![different_height](https://user-images.githubusercontent.com/54658590/202103501-92abb388-5d42-4f4a-97db-2c69158bff70.png)

Both inputs have same style.
The red area's height is 48px and both input's textStyle height is 22 px,
but they have different white-space below the input.

[2022-11-16 10:44] pooryamd opened #1681 "vibration on Modal !?"
## 💬 Question
I have a strange problem:
My modal code is like:

<Modal
        animationType="slide"
        transparent={true}
        visible={modal2Visible2}
        onBackdropPress={() => setModal2Visible(!modal2Visible)}
        backdropStyle={styles.backdrop}
		onRequestClose={() => {
          setModal2Visible(!modal2Visible);
        }}

<KeyboardAvoidingView      behavior={Platform.OS ===

[2022-11-16 14:29] affan338 commented on #1675
Is there any update on this issue? I am also facing an issue due to tintColor.

[2022-11-17 06:40] jane-airen commented on #1675
I am also experiencing this issue right now.

[2022-11-17 11:42] ana-lazar commented on #1108
did you manage to do this?

[2022-11-18 17:41] rdewolff commented on #1603
I have the same issue and tried your solution without success @richardhaddadau on latest v4.

Does this work for you Richard?

[2022-11-19 02:14] thewilloftheshadow commented on #1627
Any update on this? The react-native-svg version in the icons here is quite behind the updated version

[2022-11-19 10:45] inform880 commented on #1593
I'm github surfing trying to find the best UI library for React Native Web, and came across this issue. The creator of React Native Web is leaving the blue outline on purpose for a11y benefits, as you suggested in your last comment @ruida-shen, https://github.com/necolas/react-native-web/issues/48#issuecomment-165980585, but he added some props to make it easy to override it a few years ago.

A mo

[2022-11-19 14:59] richardhaddadau commented on #1603
I will need to test it out again. It did work when I last tried it but will create an app and test it out for you. Give me some time and I'll get back to you ASAP

[2022-11-19 18:11] ruida-shen commented on #1593
Thanks for clarifying, I will close this.

[2022-11-19 18:12] #1593 closed

[2022-11-22 13:55] arminghm commented on #1108
I barely remember!! Probably reading `size` property of mapping object from your state  can do the changes you want!

[2022-11-22 17:44] a-y-u-s-h commented on #1675
Happening with me as well. Icon works fine when used alone, gives out this error when used inside as an accessory or something.

[2022-11-24 15:44] therynamo opened #1682 "Proposal(cross-repo-post): `useTheme` hook Types (Eva DS types)"
## 🚀 Feature Proposal

Cross posting here because I'm not entirely sure which repo is the correct one - likely it may be both?

Let me know and we can close one of the issues if its in the wrong repo.

https://github.com/eva-design/eva/issues/101

[2022-11-27 03:53] lianmetrobi commented on #1675
Just got this too, started happening after upgrading from expo 46 to 47, downgrading react-native-svg to 13.2.0 fixed it for me, although expo says it's not compatible with current version.

[2022-11-27 08:36] obayit opened #1683 "Add textStyle to Button"
## 🚀 Feature Proposal

Can we please have a way to apply a custom style to the button's text? This can come in handy in many cases.

## Motivation

I have a project which started with pure UI Kitten, but now I have a UI/UX design and I need to apply custom style to the text of a button.

[2022-11-27 23:33] koukoujohn commented on #1675
Yes I can confirm. The crash started when I upgraded from expo 46 to 47 which updated react-native-svg from 12.3.0 to 13.4.0

I cannot use akveo icons inside components anymore. For example with accessoryLeft, accessoryRight etc.

[2022-11-28 13:27] greenfrvr commented on #1680
@Choyeongdeok could you please share the code with styles, so it would be easier to reproduce the case?

[2022-11-28 16:53] bataevvlad opened #1684 "Limited nature of the ViewPager element."
## 🚀 Feature Proposal

Separate the internal implementation for ViewPager for web and mobile platforms, as the web does not have the ability to support FlatList/ScrollView etc., ViewPager now has limited functionality than before

## Motivation

At the moment it is limited in its functionality, you cannot use the bounce effect as you did before when it was written via ScrollView/Flatlist

## Examp

[2022-11-30 12:37] Derrick-Tan-D-WEBDEV commented on #1675
Hi, any update on this? I am facing it as well on my side.
![image](https://user-images.githubusercontent.com/70192063/204798105-760df134-c70b-4616-a3c4-c8d32b486356.png)